<template>
    <el-row>
        <el-form label-width="140px" label-position="left">
            <el-form-item label="是否上传报告">
                <el-switch v-model="used.report"></el-switch>
            </el-form-item>
        </el-form>
        <el-form label-width="140px" label-position="left" v-if="used.report" :rules="rules" :model="report">
            <el-form-item label="项目名称" prop="project_name">
                <el-input v-model="report.project_name"></el-input>
            </el-form-item>
            <el-form-item label="上传服务器地址" prop="server_addr">
                <el-input v-model="report.server_addr"></el-input>
            </el-form-item>
            <el-form-item label="服务器端口" prop="server_port" required>
                <el-input v-model.number="report.server_port" type="number"></el-input>
            </el-form-item>
            <el-form-item label="用户名" prop="username">
                <el-input v-model="report.username"></el-input>
            </el-form-item>
            <el-form-item label="密码" :type="passwordInputType" prop="password">
                <el-input :icon="eyeIcon" v-model="report.password" :type="passwordInputType" :on-icon-click="changePasswordInputType"></el-input> 
            </el-form-item>
        </el-form>
    </el-row>
</template>
<script>
    import {mapState} from 'vuex'
    import util from 'src/services/util'

    export default {
        data: function() {
            let checkServerPort = function (rule, value, callback){
                if (value === null || value === undefined || value === '') {
                    callback(new Error('端口号不能为空'));
                } else if (isNaN(value)) {
                    callback(new Error('端口号必须为数字'));
                } else if (String(value).indexOf('.') !== -1) {
                    callback(new Error('端口号必须是整数'));
                } else if (value < 0 || value > 65535) {
                    callback(new Error('端口号必须在0到65535之间'));
                } else {
                    callback();
                }
            }
            return {
                passwordInputType: 'password',
                rules: {
                    project_name: [
                        { required: true, message: "项目名称不能为空", trigger: 'blur' }
                    ],
                    server_addr: [
                        { required: true, message: "服务器地址不能为空", trigger: 'blur' }
                    ],
                    server_port: [
                        { validator: checkServerPort, trigger: 'change' }
                    ],
                    username: [
                        { required: true, message: "用户名不能为空", trigger: 'blur' }
                    ],
                    password: [
                        { required: true, message: "密码不能为空", trigger: 'blur' }
                    ],
                }
            }
        },
        computed: {
            eyeIcon: function() {
                return this.passwordInputType === 'password' ? 'fa-eye' : 'fa-eye-slash'
            },
            ...mapState({
                report: state => state.profile.report,
                used: state => state.profile.used
            })
        },
        watch: {
            ...util.profileMapWatcher([
                'report.project_name',
                'report.server_addr',
                'report.server_port',
                'report.username',
                'report.password',
                'used.report'
            ]),
        },
        methods: {
            changePasswordInputType: function() {
                this.passwordInputType = this.passwordInputType === 'password' ? 'text' : 'password';
            }
        }
    }
</script>