<template :key="profiles">
    <el-col id="profiles" :span="9" class="pp-outer-block left">
        <div class="pp-block">
            <el-tabs v-model="activeName" id="profiles-tabs">
                <el-tab-pane label="基础配置" name="basic">
                    <pp-profile-basic></pp-profile-basic>
                </el-tab-pane>
                <el-tab-pane label="分析配置" name="analysis">
                    <pp-profile-analysis></pp-profile-analysis>
                </el-tab-pane>
                <el-tab-pane label="报告上传" name="upload">
                    <pp-profile-upload></pp-profile-upload>
                </el-tab-pane>
                <!--<el-tab-pane label="缺陷报告" name="defects">缺陷报告</el-tab-pane>-->
            </el-tabs>
        </div>
    </el-col>
</template>
<script>
    import ProfileBasic from './basic/ProfileBasic.vue'
    import ProfileAnalysis from './analysis/ProfileAnalysis.vue'
    import ProfileUpload from './upload/ProfileUpload.vue'

    export default {
        data: function(){
            return {
                activeName: 'basic'
            }
        },
        mounted: function() {
            this.$store.dispatch('profile/getProfile');
        },
        components: {
            'pp-profile-basic': ProfileBasic,
            'pp-profile-analysis': ProfileAnalysis,
            'pp-profile-upload': ProfileUpload
        }
    }
</script>
<style lang="less">
    #profiles-tabs {
        height: 100%;
        .el-tabs__header {
            position: absolute;
            top: 0;
            left: 0;
            width: 95%;
            margin: 0 2.5%;
            padding-top: 6px;
        }
        .el-tabs__content {
            margin-top: 48px;
            padding: 0 1px;
            padding-top: 25px; 
            height: calc(~"100% - 48px"); /* equal to magrin-top */
            overflow: auto;
            box-sizing: border-box; /* needn't take into account the padding */
        }

    }
</style>