<template>
    <el-col :span="15" class="pp-outer-block right" id="tasks">
        <div class="pp-block">
            <div id="log-header">
                <el-row>
                    <el-col :span="12">
                        <el-tag class="pull-left" v-if="status === TASK_STATUS.NOT_RUN" type="gray">未运行</el-tag> <el-tag class="pull-left" v-if="status === TASK_STATUS.RUNNING" type="success">正在分析<i class="el-icon-loading"></i></el-tag>
                        <el-tag class="pull-left" v-if="status === TASK_STATUS.RUN_SUCCESS" type="success">运行完毕</el-tag>
                        <el-tag class="pull-left" v-if="status === TASK_STATUS.RUN_ERROR" type="danger">运行失败</el-tag>
                        <el-tag class="pull-left" v-if="status === TASK_STATUS.RUN_STOP" type="danger">停止运行</el-tag>
                    </el-col>
                    <el-col :span="12">
                        <el-button icon="fa-trash" size="mini" :plain="true" type="primary" class="pull-right" @click="clearLog">清空日志</el-button>
                    </el-col>
                </el-row>
            </div>
            <div id="log">
                <template v-for="(line, index) in outputList">
                    <span class="line-index">{{index}}</span>
                    <div v-if="line" class="log-line">
                        {{line}}
                    </div>
                    <br v-else/>
                </template>
            </div>
        </div>
    </el-col>
</template>
<script>
    import {mapActions, mapState} from 'vuex'
    import util from 'src/services/util'
    import * as TASK_STATUS from 'src/constants/TaskStatus'

    export default {
        data() {
            return {
                TASK_STATUS: TASK_STATUS
            }
        },
        computed: {
            ...mapState({
                status: state => state.task.status,
                outputList: state => state.task.outputListShow
            })
        },
        mounted() {
            this.loadOutput();
        },
        updated() {
            util.scrollbarToBottom();
        },
        methods: {
            ...mapActions({
                clearLog: 'task/clearLog',
                loadOutput: 'task/loadOutput',
            }),
        }
    } 
</script>
<style lang="less">
    #log {
        overflow: auto;
        height: calc(~"100% - 48px");
        margin-top: 48px;
        background-color: #37393D;
        box-sizing: border-box;
        position: relative;
        .log-line {
            white-space: nowrap;
            margin-left: 40px;
            padding-left: 20px;
            color: #ccc;
            &:hover {
                background-color: #555;
            }
        }
        .line-index {
            position: absolute;
            left: 0;
            color: #4D4E50;
            width: 40px;
            background-color: #2E2E2E;
            text-align: right;
            padding-right: 10px;
        }
    }

    #log-header {
        position: absolute;
        top: 0;
        left: 0;
        padding: 12px 2.5% 10px;
        width: 100%;
        height: 48px;
        box-sizing: border-box;
        z-index: 100;

        .el-button--primary.is-plain,  .el-button--primary.is-plain:focus{
            &:hover{
                color: black;
                border-color: white;
                background-color: white;
            }
            color: #DADADA;
            border-color: #707070;
            padding: 4px;
            background-color: transparent;
        }

        .el-tag {
            &:before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 100%;
                display: block;
                position: absolute;
                left: 8px;
                top: 50%;
                margin-top: -3px;
            }
            &.el-tag--gray:before {
                background-color: gray;
            }
            &.el-tag--success:before {
                background-color: #AEF9B9;
            }
            &.el-tag--danger:before {
                background-color: #A4234D;
            }
            i {
                margin-left: 5px;
            }
            background-color: #6E7177;
            border-color: #6E7177;
            color: white;
            padding-left: 20px;
        }
    }
</style>