<template>
    <el-col id="projects" :span="8">
        <ul v-for="project in projects">
            <li>{{project.name}}</li>
        </ul>
    </el-col>     
</template>
<script>
   export default {
        data: function(){
            return {
                projects: [
                    {
                        id: 1,
                        name: 'test1'
                    },
                    {
                        id: 2,
                        name: 'test2'
                    }
                ]
            }
        }
   } 
</script>
<style lang="less">
    @import "../../../stylesheets/variables.less";
    #projects {
        background-color: @background;
        height: 600px;
    }
</style>