<template>
    <el-collapse :value="['0']" class="check-mod">
        <el-collapse-item :title="modName" name="0">
            <el-button type="text" @click.stop="handleCheckAllChange">
                <span v-if="!checkAll">全选</span>
                <span v-else>全不选</span>
            </el-button>
            <el-checkbox-group v-model="checkedItems" @change="changeCheck">
                <el-row v-for="item in mod.items">
                    <el-checkbox :label="item.key">
                        {{item.name}}
                        <template v-if="item.identifiers.length">
                            （
                            <template v-for="(id,index) in item.identifiers">
                                <a :href="'https://cwe.mitre.org/data/definitions/'+id+'.html'" class="cwe-link" target="_blank">CWE-{{id}}</a>
                                <span v-if="index < item.identifiers.length-1">，</span>
                            </template>
                            ）
                        </template>
                    </el-checkbox>
                </el-row>
            </el-checkbox-group>
        </el-collapse-item>
    </el-collapse>
</template>
<script>
    export default {
        props: ['mod', 'modName'],
        data: function() {
            return {
                checkedItems: this.mod.checkedItems
            }
        },
        computed: {
            checkAll: function() {
                return this.checkedItems.length === this.mod.items.length;
            }
        },
        methods: {
            handleCheckAllChange: function() {
                this.checkedItems = !this.checkAll ? this.mod.items.map(item => item.key) : [];
                this.changeCheck();
            },
            changeCheck: function(){
                this.$emit('changeCheck', this.modName, this.checkedItems);
            }
        }
    }
</script>
<style lang="less">
    .check-mod {
        margin-bottom: 10px;
    }
    .cwe-link {
        white-space: nowrap;
    }
</style>