<template>
    <el-form label-width="150px" label-position="left" :model="flags" :rules="rules">
        <el-row class="label-button-row">
            <el-col :span="22">
            <label class="title">添加分析参数（默认自动优化配置）</label>
            </el-col>
            <el-col :span="2">
                <el-button type="primary" icon="fa-gear" class="pull-right" @click="dialogVisible = true"></el-button>
            </el-col>
        </el-row>
        <el-row v-for="(flag, key) in flags">
            <el-col :md="20" :lg="21">
                <el-form-item :label="defaultFlags[key].name" :prop="key">
                    <!--这里为什么监听不到flags的变化，明明有watch里的deep:true了-->
                    <el-input v-model.number="flags[key]" type="number" :placeholder="defaultFlags[key].placeholder">
                        <template v-if="defaultFlags[key].addOn" slot="append">{{defaultFlags[key].addOn}}</template>
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :md="4" :lg="3">
                <el-button type="primary" icon="fa-minus" class="pull-right" @click="removeFlag(key)"></el-button>
            </el-col>
        </el-row>
        <el-dialog v-model="dialogVisible" title="配置参数" @open="dialogOpen" @close="dialogClose">
            <el-checkbox-group v-model="flagsTempList">
                <el-checkbox v-for="(flag, key) in defaultFlags" :label="key">{{flag.name}}</el-checkbox> 
            </el-checkbox-group>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="dialogVisible = false">确定</el-button>
            </div>
        </el-dialog>
    </el-form>    
</template>
<script>
    import limitationsConf from 'src/constants/PPCheckLimitationsConf'

    export default {
        props: ['value'],
        data() {
            return {
                // 这里直接传this.value不能对里面已有的属性深度监听属性变化，可能vue中会检测是否做过观察者的初始化
                flags: {...this.value},
                flagsTempList: [],
                defaultFlags: limitationsConf,
                dialogVisible: false,
                rules: (function(){
                    let rules = {};
                    for(let key in limitationsConf) {
                        let conf = limitationsConf[key];
                        rules[key] = [
                            {validator: function(rule, value, callback){
                                if (value === null || value === undefined || value === '') {
                                    callback(new Error(conf.name + '不能为空'));
                                } else if (isNaN(value)) {
                                    callback(new Error(conf.name + '必须为数字'));
                                } else if (conf.type === 'integer' && String(value).indexOf('.') !== -1) {
                                    callback(new Error(conf.name + '必须是整数'));
                                } else if (value < 0) {
                                    callback(new Error(conf.name + '必须大于等于0'));
                                } else {
                                    callback();
                                }
                            }, trigger: 'blur'}
                        ]
                    }
                    return rules;
                })()
            }
        },
        watch: {
            flags: {
                handler: function(newValue) {
                    this.$emit('input', newValue);
                },
                deep: true
            }
        },
        methods: {
            removeFlag(key) {
                this.$delete(this.flags, key);
            },
            dialogOpen() {
                this.flagsTempList = Object.keys(this.flags);
            },
            dialogClose() { // 为了解决element ui在打开dialog的情况下，model改变刷背景面板闪烁的情况，加一个temp，每次open和close的时候交接
                for(let key in this.defaultFlags) {
                    let inTempFlags = this.flagsTempList.indexOf(key) !== -1;
                    let inFlags = key in this.flags;

                    if (inTempFlags && !inFlags) {
                        this.$set(this.flags, key, this.defaultFlags[key].default);
                    }
                    if (!inTempFlags && inFlags) {
                        this.$delete(this.flags, key);
                    }
                }
            }
        }
    }
</script>
<style lang="less">
    .title {
        margin-top: 0px;
    }
</style>