<template>
    <el-row>
        <el-form label-width="140px" label-position="left">
            <el-form-item label="是否分析检查">
                <el-switch v-model="used.check"></el-switch>
            </el-form-item>
        </el-form>
        <div v-if="used.check">
            <pp-check-group v-for="(mod, name) in ppCheckConf" :mod="mod" :modName="name" @changeCheck="changeCheck"></pp-check-group>  
            <el-collapse :value="['0']" class="check-mod">
                <el-collapse-item title="高级设置" name="0">
                    <el-form label-width="150px" label-position="left" :model="check">
                        <el-form-item label="函数调用追踪深度" :rules="inlineDepthRules" prop="inline_depth">
                            <el-input type="number" v-model.number="check.inline_depth"></el-input>
                        </el-form-item>
                        <el-form-item label="解析函数指针">
                            <el-switch v-model="check.falcon_cg"></el-switch>
                        </el-form-item>
                        <el-form-item label="运行合规检查器">
                            <el-switch v-model="check.run_csa"></el-switch>
                        </el-form-item>
                        <el-form-item label="快速分析">
                            <el-switch v-model="check.fast_analysis"></el-switch>
                        </el-form-item>
                    </el-form>
                </el-collapse-item>
            </el-collapse>
            <pp-flags-form v-model="check.limitations"></pp-flags-form>
        </div>
    </el-row>
</template>
<script>
    import CheckGroup from './CheckGroup.vue'
    import FlagsForm from './FlagsForm.vue'
    import {mapState, mapGetters} from 'vuex'
    import util from 'src/services/util'

    export default {
        data() {
            let inlineDepthValidator = function(rule, value, callback) {
                if (value === null || value === undefined || value === '') {
                    callback(new Error('追踪深度不能为空'));
                } else if (isNaN(value)) {
                    callback(new Error('追踪深度必须为数字'));
                } else if (String(value).indexOf('.') !== -1) {
                    callback(new Error('追踪深度必须是整数'));
                } else if (value < -1) {
                    callback(new Error('追踪深度必须大于等于-1，-1代表全部追踪'));
                } else {
                    callback();
                }
            }
            return {
                inlineDepthRules: [
                    { validator: inlineDepthValidator, trigger: 'change'}
                ]
            }
        },
        computed: {
            ...mapGetters({
                ppCheckConf: 'profile/ppCheckConf',
            }),
            ...mapState({
                check: state => state.profile.check,
                used: state => state.profile.used
            })
        },
        watch: {
            ...util.profileMapWatcher([
                'check.inline_depth',
                'check.falcon_cg',
                'check.run_csa',
                'check.fast_analysis',
                'check.limitations',
                'used.check',
            ])
        },
        methods: {
            changeCheck: function(checkMod, checkedItems) {
                this.$store.commit('profile/commitChecked', {
                    mod: checkMod,
                    checkedItems: checkedItems 
                })
            }
        },
        components: {
            'pp-check-group': CheckGroup,
            'pp-flags-form': FlagsForm 
        }
    }
</script>
<style lang="less">
    .el-checkbox+.el-checkbox, .el-checkbox {
        margin-left: 0px;
        margin-right: 15px;
    }
</style>