<template>
  <el-row id="container">
    <pp-profiles></pp-profiles>
    <pp-tasks></pp-tasks>
  </el-row>
</template>
<script>
  import Profiles from './profiles/Profiles.vue'
  import Tasks from './tasks/Tasks.vue'
  import $ from 'jquery'

  export default {
    components: {
      'pp-profiles': Profiles,
      'pp-tasks': Tasks 
    }
  }
</script>
<style lang="less">
  #container {
    height: calc(~"100vh - 124px"); /* header 64px footer 60px */
  }
</style>
