<template>
    <el-row>
        <el-form-item :label="input.label" required>
            <el-input :placeholder="input.placeholder" v-model="command" :type="input.inputType" :rows="5" :class="{'error-input': error }"></el-input>
            <div class="error-message" v-if="error">{{input.label}}不能为空</div>
            <div class="hint" v-if="input.hint && !error">{{input.hint}}</div>
        </el-form-item>
    </el-row>
</template>
<script>
    export default {
        props: ['input', 'value'],
        data() {
            return {
                command: this.value,
                error: false
            }
        },
        watch: {
            command: function(newValue) {
                if (!newValue) {
                    this.error = true;
                } else {
                    this.error = false;
                }
                this.$emit('input', newValue);
            }
        }
    }
</script>
<style lang="less">
    div.hint {
        position: absolute;
        top: 100%;
        left: 0;
        color: #7590B1;
        font-size: 12px;
        line-height: 1;
        padding-top: 4px;
        
    }

</style>