<template>
  <el-tree
    v-if="ready"
    :data="data"
    :props="defaultProps"
    node-key="path"
    ref="tree"
    lazy
    :expand-on-click-node="false"
    >
  </el-tree>
</template>

<script>
let rootPath = '/home/zhangyu';
import pathApi from 'src/api/path'
import vue from 'vue'

export default {
    props: ['value'],
    data() {
        return {
            path: this.value,
            data: [],
            defaultProps: {
                children: 'children',
                label: 'label'
            },
            ready: false
        }
    },
    created() {
        // this.$refs.tree.$data.store.lazy = true
        let focusPath = this.path.substr(rootPath.length + 1); // 把第一个斜杠去掉
        let blocks = focusPath.split('/');
        let count = 1;
        this.data = [
            {
                path: rootPath,
                label: rootPath,
                children: [] 
            }
        ];
        let fetchSubTree = function(node) {
            if (node.path === this.path || this.path.indexOf(node.path) === -1) {
                node.children = [];
                if (node.path === this.path) {
                    this.ready = true;
                    vue.nextTick(() => {
                        this.$refs.tree.$data.store.defaultExpandAll = false;
                    })
                }
                return;
            } else {
                pathApi.getDirectories({path: node.path}).then(res => {
                    if (res.body.code === 200) {
                        let children = res.body.data.map(function(subpath) {
                            let child = {
                                path: node.path + '/' + subpath,
                                label: subpath
                            };
                            fetchSubTree(child);
                            return child;
                        });
                        node.children = children;
                    }
                });
            }
        }.bind(this);
        let root = this.data[0];
        fetchSubTree(root);
    },
    watch: {
        data: {
            handler: function(newValue) {
                console.log(newValue);
            },
            deep: true
        }
    },
    methods: {
        // loadNode (node, resolve) {
        //     console.log(node);
        //     let currentPath = node.data.path;
        //     if (node.level === 0) {
        //         return resolve([{label: rootPath, path:rootPath}])
        //     } else {
        //         if (node.data.isNew) {
        //             return resolve([]);
        //         }
        //         if (node.level === 4) {
        //             return resolve([]);
        //         }
        //         pathApi.getDirectories({path: currentPath}).then(res => {
        //             if (res.body.code === 200) {
        //                 let children = res.body.data.map(function(subpath) {
        //                     return {
        //                         path: currentPath + '/' + subpath,
        //                         label: subpath
        //                     };
        //                 })
        //                 resolve(children);
        //             }
        //         })
        //         node.childNodes.forEach(node => {
        //             this.loadNode(node, resolve);
        //         })
        //     }
        // },
    
        append(store, data, event) {
            store.append({ id: data.id + '/test', label: 'test', children: [], isNew: true }, data);
        },

        choose(store, data) {
            console.log(data.id);
        },

      renderContent(h, { node, data, store }) {
            return (
            <span>
                <span>
                    <span>{node.label}</span>
                </span>
                <span style="float: right; margin-right: 20px">
                <el-button size="mini" on-click={ () => this.append(store, data) }>新建文件夹</el-button>
                <el-button size="mini" on-click={ () => this.choose(store, data) }>选中</el-button>
                </span>
            </span>
            );
      }
    }
  };
</script>