<template>
    <div>
        <el-dialog :title="'选择'+label" v-model="dialogVisible" top="2%" @close="dialogClose">
            <div class="operation-buttons">
                <el-button @click="createNode" v-if="!multiple">新建文件夹</el-button>
                <el-button @click="deselectAll">清除所有路径</el-button>
                <el-button @click="refresh">刷新</el-button>
                <el-button @click="removeBadPaths" v-if="multiple && pathsNotExist.length">清除不存在的路径</el-button>
                <el-button @click="dialogVisible = false" type="primary" class="pull-right">确定</el-button>
            </div>
            <div :id="'jstree-'+label" class="jstree"></div>
            <h3>
                已选择：
                <el-popover
                    v-if="multiple && pathsNotExist.length" 
                    placement="top-start"
                    width="200"
                    trigger="hover"
                    content="由于服务器原因，或者您手动删除了文件或文件夹，导致部分您选择的关注路径已不存在，您可以将它们添加至手动关注路径中">
                    <el-button slot="reference" class="pull-right" @click="moveToManualFocusPaths">将不存在的路径添加至手动关注路径</el-button>
                </el-popover>
            </h3>
            <ul>
                <li v-for="path in paths" :class="{'not-exist': pathsNotExist.indexOf(path) !== -1}">{{path}}</li>
            </ul>
        </el-dialog>
    </div>
</template>
<script>
    import $ from 'jquery'
    import jsTree from 'jstree'
    import pathApi from 'src/api/path'

    export default {
        props: ['value', 'visible', 'label', 'sourceDir'],
        data() {
            return {
                paths: typeof this.value === 'string' ? [this.value] : this.value || [],  
                multiple: typeof this.value !== 'string',
                dialogVisible: this.visible,
                data: [],
                inited: false,
                pathsNotExist: [], // 初始下当fullPaths的长度为0时，就结束展开，但可能这条路径不存在，要动态变化
                positionDir: '', // 一条默认展开至的路径，默认等于sourceDir,
                tempDir: ''
            }
        },
        created() {
            this.rootPath = '/';
            pathApi.getHomePath().then(res => {
                if (res.body.code === 200) {
                    this.userPath = res.body.data.path;
                }
            });
        },
        watch: {
            visible: function(newValue) {
                this.dialogVisible = newValue;
                if (this.dialogVisible) {
                    this.refresh();
                } else {
                    this.destroy();
                }
            },
            sourceDir: function(newValue) {
                this.positionDir = newValue;
            },
            value: function(newValue){
                this.paths = typeof newValue === 'string' ? [newValue] : newValue || [];
            },
        },
        methods: {
            dialogClose: function() {
                if (this.multiple) {
                    this.$emit('closeDialog', this.paths);
                } else {
                    this.$emit('closeDialog', this.paths[0] || '');
                }
            },
            refresh: function() {
                this.destroy();
                this.initTree();
            },
            destroy: function() {
                if (this.tree) {
                    let tree = this.tree.jstree(true);
                    tree.destroy();
                    this.inited = false;
                    this.tree.unbind();  // tree.destroy并没有去掉tree上绑定的event
                }
                this.tree = null;
            },
            initTree: function() {
                // this.$refs.tree.$data.store.lazy = true
                this.positionDir = this.sourceDir || '';
                this.pathsNotExist = [];
                let fullPaths = [];
                [].push.apply(fullPaths, this.paths);
                console.log(this.tempDir);
                if (this.tempDir) {
                    fullPaths.push(this.tempDir + '/*');
                } else {
                    if (this.multiple && (fullPaths.length === 0 || (fullPaths.length === 1 && fullPaths[0] === '/'))) {
                        if (this.positionDir && this.positionDir !== '/') {
                            fullPaths.push(this.positionDir + '/*');
                        } else {
                            fullPaths.push(this.userPath + '/*');
                        }
                    }
                    if (!this.multiple && (fullPaths.length === 0 || (fullPaths.length === 1 && fullPaths[0].length <= 1))) { // 路径只有一条且为''或者'/'
                        fullPaths.splice(0, 1, this.userPath + '/*'); // 列出userPath，并且不选
                    }
                }
                let indexOfPath = function (path, key) {
                    return fullPaths.findIndex(function(targetPath) {
                        if (key === 'equal') {
                            return targetPath === path;
                        } else if (key === 'startsWith') {
                            path = path === '/' ? '' : path;
                            return targetPath.startsWith(path + '/');
                        }
                    });
                };
                let tryCreateTree = function() {
                    if (fullPaths.length === 0 && !this.inited) {
                        this.inited = true;
                        this.createTree();
                    }
                }.bind(this);
                let fetchSubTree = function (node) {
                    let path = node.id;
                    let equalIndex = indexOfPath(path, 'equal'); // 找到完整相同的path在fullPaths的index
                    if (equalIndex !== -1 || indexOfPath(path, 'startsWith') === -1) { // 到叶节点了
                        if (equalIndex !== -1) {
                            fullPaths.splice(equalIndex, 1);
                            tryCreateTree();
                        }
                        if (indexOfPath(path, 'startsWith') === -1) { // 如果fullPaths中还有剩下的路径，就继续发请求获取
                            return;
                        }
                    }
                    pathApi.getList({ path: path, dir_only: !this.multiple }).then(res => {
                        if (res.body.code === 200) {
                            let responsePaths = res.body.data.paths;
                            let badPaths = fullPaths.filter(p => { // 先拿到fullPaths中当前要考虑的路径
                                // 真正的路径的父子关系，不是简单的startsWith!!
                                return p.startsWith(path + '/'); 
                            }).filter(p => { // 再去验证最后的一个子路径没出现在任何本次拿回来的子路径数组中
                                return responsePaths.filter(rp => {
                                    let tail = p.substr(1) + '/';
                                    if (path !== '/') {
                                        tail = p.substr(path.length + 1) + '/';
                                    }
                                    // console.log(1, path);
                                    // console.log(2, tail);
                                    // console.log(3, tail.substr(0, tail.indexOf('/')))
                                    return rp.value === tail.substr(0, tail.indexOf('/'));
                                }).length === 0;
                            });

                            if (badPaths.length) { // 请求到的子路径加上当前路径后至少是一条已选择路径的子路径
                                badPaths.forEach(p => {
                                    let i = fullPaths.indexOf(p);
                                    fullPaths.splice(i, 1);
                                    if (!p.endsWith('/*')) {
                                        this.pathsNotExist.push(p);
                                    }
                                });
                                if (this.multiple) {
                                    this.positionDir = path;
                                } else {
                                    this.positionDir = (path === '/' ? '' : path) + '/' + responsePaths[0].value;
                                }
                            }

                            let children = responsePaths.map(function (subpath) {
                                if (path === '/') {path = '';}
                                let newPath = path + '/' +subpath.value;
                                let hasPathStartWith = indexOfPath(newPath, 'startsWith') !== -1;
                                return {
                                    id: newPath,
                                    text: subpath.value,
                                    icon: subpath.type === 'dir' ? 'el-icon-fa-folder' : 'el-icon-fa-file',
                                    children: subpath.type === 'dir' ? [{state: {disabled:true}}] : [],
                                    state: {
                                        opened: hasPathStartWith
                                    }
                                };
                            });

                            node.children = children;
                            node.children.forEach(child => {
                                fetchSubTree(child);
                            });
                            fetchSubTree({id: path + '/*'});

                            if (fullPaths.length === 0) {
                                tryCreateTree();
                            }
                        }
                    });
                }.bind(this);

                this.data = [
                    {
                        id: this.rootPath,
                        text: this.rootPath,
                        icon: 'el-icon-fa-folder',
                        state: {
                            opened: true,
                            selected: false
                        },
                        children: []
                    }
                ];

                let root = this.data[0];
                fetchSubTree(root);
            },
            createTree: function() {
                this.tree = $('#jstree-' + this.label);
                this.tree.jstree({
                    core: {
                        check_callback: true,
                        data: this.data,
                    },
                    plugins: ['wholerow', ...this.multiple ? ['checkbox'] : []]
                });

                this.tree.on('ready.jstree', () => {
                    this.paths.forEach(path => {
                        this.tree.jstree(true).select_node(path);
                    });
                    let path = this.tempDir || this.positionDir || this.userPath;
                    console.log('234', path);
                    for (let i in this.paths) {
                        let p = this.paths[i];
                        if (this.pathsNotExist.indexOf(p) === -1) {
                            path = p;
                            break;
                        }
                    }
                    let position = $(document.getElementById(path)).position();
                    if (position) {
                        this.tree.scrollTop(position.top - 20);
                    }
                    this.tempDir = '';
                });

                this.tree.on('changed.jstree', (e, data) => {   // 如果父路径被关注，把对应的子路径筛掉
                    let resultPaths = [];
                    data.selected
                        .filter(path => path.startsWith('/'))
                        .sort((path1,path2) => {
                            if (path1.length > path2.length) {
                                return 1;
                            } else {
                                return -1;
                            }
                        }).forEach(path => {
                        let index = resultPaths.findIndex(resultPath => {
                            resultPath = resultPath === '/' ? '' : resultPath;
                            return path.startsWith(resultPath + '/');
                        });
                        if (index === -1) {
                            resultPaths.push(path);
                        }
                    })
                    if (this.multiple) {
                        this.paths = [...resultPaths, ...this.pathsNotExist];
                    } else {
                        this.paths = resultPaths.slice();
                    }
                });

                this.tree.on('dblclick.jstree', event => {
                    this.loadNode(event.target);
                });

                this.tree.on('rename_node.jstree', (event, ref) => {  //   input在blur的时候触发
                    if (ref.text !== ref.old) {  // 注意以后如果有rename功能，这个逻辑判断要改
                        this.renameNode(ref.node, ref.text); 
                    } else {
                        this.deleteNode(ref.node);
                    }
                });

                $(document).off('click', '.jstree-icon');

                $(document).on("click", '.jstree-icon', event => {
                    this.loadNode($(event.target).parent()[0]);
                });
            },
            createNode: function() {
                let tree = this.tree.jstree(true);
                let node = tree.get_selected();
                let callback = function() {
                    if (!node.length) { return false; }
                    node = node[0];
                    node = tree.create_node(node, {text: '', icon: 'el-icon-fa-folder'});
                    if (node) {
                        tree.edit(node);
                    }
                }
                this.loadNode(node, callback);
            },
            deselectAll: function() {
                this.tree.jstree(true).deselect_all();
                this.pathsNotExist = [];
                if (this.multiple) {
                    this.paths = [];
                } else {
                    this.paths = [''];
                }
            },
            removeBadPaths: function() {
                this.pathsNotExist.forEach(path => {
                    let index = this.paths.indexOf(path);
                    if (index !== -1) {
                        this.paths.splice(index, 1);
                    }
                })
                this.pathsNotExist = [];
            },
            moveToManualFocusPaths: function() {
                let manualFocusPaths = this.$store.state.profile.capture.manual_include_source_paths;
                this.$store.commit('profile/commitProfile', {
                    mod: 'capture',
                    key: 'manual_include_source_paths',
                    value: [...manualFocusPaths, ...this.pathsNotExist]
                });
                this.removeBadPaths();
            },
            loadNode: function(item, callback) {
                let tree = this.tree.jstree(true);
                let node = tree.get_node(item);
                let path = node.id;
                if (node.children && node.children.length > 0 && node.children[0].indexOf(this.rootPath) === -1) { // 用一个disabled的子元素mock
                    pathApi.getList({path: path, dir_only: !this.multiple}).then(res => {
                        if (res.body.code === 200) {
                            if (res.body.data.paths.length <= 200) {
                                res.body.data.paths.forEach(function (subpath) {
                                    let newPath = path + '/' +subpath.value;
                                    let child = {
                                        id: newPath,
                                        text: subpath.value,
                                        icon: subpath.type === 'dir' ? 'el-icon-fa-folder' : 'el-icon-fa-file',
                                        children: subpath.type === 'dir' ? [{state: {disabled:true}}] : []
                                    };
                                    tree.create_node(node, child, 'last');
                                });
                                tree.delete_node(node.children[0]); // 去掉第一个假的文件夹
                                callback && callback();
                            } else { // 解决获取的文件数过大的问题，做一次refresh，然后跳到这里
                                this.tempDir = path;
                                this.refresh();
                            }
                        }
                    })
                } else {
                    callback && callback();
                }
            },
            deleteNode: function(node) {
                let tree = this.tree.jstree(true);
                tree.delete_node(node);
            },
            renameNode: function(node, text) {
                let tree = this.tree.jstree(true);
                let path = node.parent + '/' +text;
                pathApi.createDir({path: path}).then(res => {
                    if (res.body.code === 200) {
                        let notification = {offset: 100};
                        let status = res.body.data.status;
                        switch(status) {
                            case 0: notification.message = '创建文件夹成功'; break;
                            case 1: notification.message = '创建失败－原因未知'; break;
                            case 2: notification.message = '创建失败－文件夹已经存在'; break;
                            case 3: notification.message = '创建失败－权限禁止'; break;
                        };
                        if (status > 0) {
                            notification.title = '失败';
                            this.$notify.error(notification);
                            tree.edit(node);
                        } else {
                            notification.title = '成功';
                            this.$notify.success(notification);
                            tree.set_id(node, path);
                        }
                    }
                })
            }
        }
    }
</script>
<style lang="less">
    @import '~jstree/dist/themes/default/style.min.css';

    .operation-buttons {
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
    }
    .jstree {
        max-height: 60vh;
        overflow: auto;
        margin: 10px 0;
        position: relative;
        .el-icon-fa-folder:before {
            position: relative;
            top: 5px;
            color: wheat;
        }
        .el-icon-fa-file:before {
            position: relative;
            top: 5px;
        }
    }
    .not-exist {
        &:after {
            content: '（路径不存在）';
            color: red;
        }
    }
</style>