<template>
    <el-form>
        <el-row class="label-button-row">
            <el-col :span="20">
                <label class="hints">添加关注路径（{{hints}}）</label>
            </el-col>
            <el-col :span="4">
                <el-button type="primary" icon="fa-filter" class="pull-right" @click="openDialog"></el-button>
            </el-col>
        </el-row>
        <pp-directories-tree-dialog :value="focusPaths" :visible="dialogVisible" @closeDialog="closeDialog" label="关注路径" :sourceDir="capture.source_dir"></pp-directories-tree-dialog>
    </el-form>
</template>
<script>
    import DirectoriesTreeDialog from './DirectoriesTreeDialog.vue'
    import { mapState } from 'vuex'

    export default {
        props: ['value'],
        data() {
            return {
                focusPaths: this.value,
                dialogVisible: false
                // counter: 1
            }
        },
        computed: {
            hints: function() {
                return this.focusPaths.length === 0 ? '默认分析所有代码' : '已添加'+this.focusPaths.length+'条'
            },
            ...mapState({
                capture: state => state.profile.capture
            })
        },
        watch: {
            focusPaths: function(newValue) {
                this.$emit('input', newValue);
            },
        },
        methods: {
            openDialog: function(event) {
                event.target.blur();
                this.dialogVisible = true;
            },
            closeDialog: function(paths) {
                this.dialogVisible = false;
                this.focusPaths = paths;
            },
        },
        components: {
            'pp-directories-tree-dialog': DirectoriesTreeDialog 
        }
    }
</script>
<style lang="less">
    .hints {
        margin-top: 0px;
    }
</style>