<template>
    <el-form>
        <el-row class="label-button-row">
            <el-col :span="20">
                <label class="hints">手动添加关注路径</label>
            </el-col>
            <el-col :span="4">
                <el-button type="primary" icon="fa-plus" class="pull-right" @click="addPath"></el-button>
            </el-col>
        </el-row>
        <!--不能直接用path作为v-model的参数，它是focusPaths循环的直接声明-->
        <!--http://stackoverflow.com/questions/42629509/you-are-binding-v-model-directly-to-a-v-for-iteration-alias-->
        <el-row v-for="(path, index) in focusPaths">
            <el-col :span="21">
                <el-form-item>
                    <el-input placeholder="/home/foo/src_of_interest/" v-model="focusPaths[index]"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="3">
                <el-button type="primary" icon="fa-minus" class="pull-right" @click="removePath(index)"></el-button>
            </el-col>
        </el-row>
    </el-form>
</template>
<script>
    export default {
        props: ['value'],
        data() {
            return {
                focusPaths: this.value,
            }
        },
        watch: {
            focusPaths: function(newValue) {
                this.$emit('input', newValue);
            },
            // 当props是object的时候，要在watcher中重新复制给local的data，否则local的data不会更新，大坑！！
            // https://forum.vuejs.org/t/update-data-when-prop-changes-data-derived-from-prop/1517/15
            // 但是用了v-if以后有延迟加载效果，放进来的props已经是修改后的了，如果不做watcher，会出现其他地方修改了paths，而这里不会更新的情况
            value: function(newValue) {
                this.focusPaths = newValue;
            }
        },
        methods: {
            addPath: function() {
                this.focusPaths.push('');
            },
            removePath: function(index) {
                this.focusPaths.splice(index, 1);
            }
        }
    }
</script>
<style lang="less">
    .hints {
        margin-top: 0px;
    }
</style>