<template>
    <el-row>
        <el-col :md="19" :lg="21">
            <el-form-item :label="input.label" required>
                <el-input :placeholder="input.placeholder" v-model="path" @focus="openDialog" :class="{'error-input': error }"></el-input>
                <div class="error-message" v-if="error">{{input.label}}不能为空</div>
            </el-form-item>
        </el-col>
        <el-col :md="5" :lg="3">
            <el-button type="primary" icon="fa-folder-open" class="pull-right" @click="openDialog"></el-button>
        </el-col>
        <pp-directories-tree-dialog :value="value" :visible="dialogVisible" @closeDialog="closeDialog" :label="input.label"></pp-directories-tree-dialog>
    </el-row>
</template>
<script>
    import DirectoriesTreeDialog from './DirectoriesTreeDialog.vue'

    export default {
        props: ['input', 'value'],
        data() {
            return {
                path: this.value,
                dialogVisible: false,
                error: false
            }
        },
        watch: {
            value: function(newValue) {
                this.path = newValue;
                if (!newValue) {
                    this.error = true;
                } else {
                    this.error = false;
                }
            },
            path: function(newValue) {
                if (this.input.key === 'build_dir') { // 设置默认的源代码目录和项目名称
                    this.$store.commit('profile/commitProfile', {
                        mod: 'capture',
                        key: 'source_dir',
                        value: newValue
                    });
                    this.$store.commit('profile/commitProfile', {
                        mod: 'report',
                        key: 'project_name',
                        value: newValue.slice(newValue.lastIndexOf('/') + 1)
                    });
                }
                this.$emit('input', newValue);
            }
        },
        methods: {
            openDialog: function(event) {
                event.target.blur();
                this.dialogVisible = true;
            },
            closeDialog: function(path) {
                this.dialogVisible = false;
                this.path = path;
            },
        },
        components: {
            'pp-directories-tree-dialog': DirectoriesTreeDialog 
        }
    }
</script>
<style lang="less">
</style>