<template>
    <el-row>
        <el-form label-width="140px" label-position="left">
            <pp-path-input :input="buildDirConfig" v-model="build_dir"></pp-path-input>
            <el-form-item label="执行代码编译">
                <el-switch v-model="used.capture"></el-switch>
            </el-form-item>
        </el-form>
        <div v-if="used.capture">
            <el-form label-width="140px" label-position="left">
                <template v-for="input in compileConfig">
                    <component v-if="input.mod" :is="'pp-'+input.type+'-input'" :input="input" v-model="capture[input.key]"></component>
                </template>
            </el-form>
            <pp-focus-paths-form v-model="capture.include_source_paths"></pp-focus-paths-form>
            <pp-manual-focus-paths-form v-model="capture.manual_include_source_paths"></pp-manual-focus-paths-form>
        </div>
    </el-row>
</template>
<script>
    import {mapState} from 'vuex'
    import CommandInput from './CommandInput.vue'
    import PathInput from './PathInput.vue'
    import FocusPathsForm from './FocusPathsForm.vue'
    import ManualFocusPathsForm from './ManualFocusPathsForm.vue'
    import compileConfig from 'src/constants/CompileConfig'
    import util from 'src/services/util'

    export default {
        data() {
            return {
                compileConfig: compileConfig
            }
        },
        computed: {
            ...mapState({
                capture: state => state.profile.capture,
                used: state => state.profile.used
            }),
            ...util.profileMapState([
                'build_dir'
            ]),
            buildDirConfig() {
                return compileConfig.find(config => config.key === 'build_dir');
            }
        },
        watch: {
            ...util.profileMapWatcher([
                'capture.incremental',
                'capture.include_source_paths',
                'capture.manual_include_source_paths',
                'used.capture',
                ...compileConfig.map(input => input.mod ? input.mod + '.' + input.key : input.key)
            ])
        },
        components: {
            'pp-command-input': CommandInput,
            'pp-path-input':PathInput,
            'pp-focus-paths-form': FocusPathsForm,
            'pp-manual-focus-paths-form': ManualFocusPathsForm,
        }
    }
</script>
