/** IMPORTS **/
/** @import "~bootstrap/less/bootstrap"; **/
@import "./variables.less";
@import '~element-ui/lib/theme-default/index.css';

[class^="el-icon-fa"], [class*=" el-icon-fa"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome!important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "~font-awesome/less/font-awesome";
@fa-css-prefix: el-icon-fa;

body {
  background-color: #CFD1D4; 
  margin: 0;
  height: 100%;
}

a, a:hover, a:link, a:active, a:visited{
  text-decoration: none; 
  color: @pp-deep-blue;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.el-input__inner:focus, .el-textarea__inner:focus {
  border-color: @pp-deep-blue;
}

.el-button.is-disabled.is-plain,
.el-button.is-disabled.is-plain:focus,
.el-button.is-disabled.is-plain:hover {
  background-color: #252525;
  border-color: #848484;
  color: #7a7c7f;
}

.el-button--primary.is-plain,
.el-button--primary.is-plain:focus {
  border-color: #BFCBD9;
  background-color: transparent;
  color: #C8E3FB;
}
.el-button--primary.is-plain:active,
.el-button--primary.is-plain:hover {
  color: @pp-black;
  background-color: white;
  border-color: white;
}

.el-button--primary {
  background-color: #7590B1;
  border-color: #5E81A9;
  &:hover, &:focus {
    background-color: lighten(@pp-deep-blue, 10%);
    border-color: lighten(@pp-deep-blue, 10%);
  }
}

.el-tabs__item {
  &.is-active {
    color: @pp-black;
  }
}

.el-tabs__active-bar {
  background-color: @pp-black;
}

.el-switch__input:checked+.el-switch__core, .el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: @pp-deep-blue;
  border-color: @pp-deep-blue;
}

.el-button--text {
  color: @pp-deep-blue;
}

.pp-outer-block {
  height: 100%;
  padding-top: 1%;
  &.left {
    padding-left: 0.8%;
    padding-right: 0.5%;
  }
  &.right {
    padding-left: 0.5%;
    padding-right: 0.8%;
    .pp-block {
      overflow: auto;
      padding-left: 0;
      padding-right: 0;
      background-color: #515151;
    }
  }
  .pp-block {
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0 20px;
    border-radius: 5px;
    height: 100%;
    &.no-left-border {
      border-left: none;
    } 
  }
}
.el-checkbox {
  white-space: normal;
}
.label-button-row {
  margin: 10px 0;
  line-height: 36px;
}
.error-input {
    input.el-input__inner, textarea.el-textarea__inner {
        border-color: #ff4949;
    }
}
.error-message {
    color: #ff4949;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
}
