<template>
    <el-row id="header" class="bg-blue">
        <el-col :span="12">
            <img src="../../images/logo.png">
        </el-col>
        <el-col :span="12">
            <el-form :inline="true" class="pull-right">
                <!--<el-form-item label="日志级别" class="log-level">
                    <el-select :value="'easy'" size="small">
                        <el-option label="简单" value="easy"></el-option>
                        <el-option label="专家" value="expert"></el-option>
                    </el-select>
                </el-form-item>-->
                <el-button icon="fa-play-circle" :plain="true" type="primary" @click="runProfile" v-if="status !== 1">保存并运行</el-button>
                <el-button icon="fa-stop" :plain="true" type="primary" @click="stopProfileTask" v-if="status === 1">停止任务</el-button>
                <el-button icon="fa-save" :plain="true" type="primary" @click="saveProfile">保存配置</el-button>
                <el-button icon="fa-file-text" :plain="true" type="primary" @click="showReport" :disabled="status !== 2 || !reportUrl">查看报告</el-button>
            </el-form>

        </el-col>
    </el-row>
</template>
<script>
    import {mapActions, mapState} from 'vuex'

    export default {
        computed: {
            ...mapState({
                status: state => state.task.status,
                reportUrl: state => state.task.reportUrl
            })
        },
        methods: {
            ...mapActions({
                saveProfile: 'profile/saveProfile',
                runProfile: 'profile/runProfile',
                stopProfileTask: 'task/stopProfileTask',
            }),
            showReport() {
                if (this.reportUrl.redirect) {
                    window.open(this.reportUrl.redirect);
                } else {
                    window.open(location.protocol + '//' + location.hostname + ':' + this.reportUrl.port);
                }
            }
        }
    } 
</script>
<style lang="less">
    @import "../../stylesheets/variables.less";
    .log-level {
        .el-form-item__content {
            width: 100px;
        }
        margin-bottom: 0;
        position: relative;
        top: -3px;
    }

    #header {
        padding: 14px 0.8%;
        background-color: @pp-black;
        height: 64px;
        img {
            height: 23px;
            margin-left: 3%;
            margin-top: 8px;
        }
        div {
            color: white;
        }
    }
    
</style>