<template>
    <diV id="footer"><span @click="gotcha">Copyright © 2017 Sourcebrella All Rights Reserved</span></div>    
</template>
<script>
    export default {
        methods: {
            gotcha: function() {
                location.hash = '#/bonus';
            }
        }
    } 
</script>
<style lang="less">
    #footer {
        height: 40px;
        padding: 10px 20px;
        line-height: 40px;
        text-align: right;
        color: #999;
        -webkit-text-shadow: 1px 1px 0 #eee; 
        -moz-text-shadow: 1px 1px 0 #eee; 
        -ms-text-shadow: 1px 1px 0 #eee; 
        text-shadow: 1px 1px 0 #eee; 
    }
    
</style>