<template>
    <article class="starwars">
    <a href="#/home"><i id="back" class="el-icon-circle-cross"></i></a>
    <div class="animation">

        <section class="intro">
          从0到1，我们走了8年，有过挫折，有过失败，一直伴随我们坚持下去是彼此的鼓励，相信自己，相信最坚实的伙伴。<br>
          谨以Pinpoint1.2献给一直在默默付出的源伞团队，希望源伞未来还能和你们在一起！

        </section>

        <section class="titles">
        <div contenteditable="true" spellcheck="false" class="contents">
            <p>The Crew</p>
            <p>Chief Producer：Charles<br>
              Chief Director：TwoFrogs<br>
              Executive Producer：咖啡猫，<br>安迪爱大米，范宝宝<br>
              Scripted by：xiexie<br>
            </p>
            <p>Starring：</p>
            <p>
              一叶知秋<br>
              天才小面包<br>
              jade<br>
              bugcrasher<br>
              vienna<br>
              jlang++<br>
              mmyjona<br>
              rainoftime<br>
              吃吃吃吃吃吃吃吃吃吃吃吃不胖<br>
              happygogf<br>
              ITWOI<br>
              制衡之思<br>
              legendt<br>
            </p>
        </div>
        </section>

        <section class="logo">
        <svg id="logo" data-name="logosvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 919.45 500.97"><rect class="cls-1" width="919.45" height="500.97"/><path class="cls-2" d="M686,345.5H672a3.5,3.5,0,0,1-3.5-3.5V217.27a3.5,3.5,0,0,1,3.5-3.5h2.38c2.86,0,6.42,0,9.55.09a6.17,6.17,0,0,1,4.33,2.58l.22.25c12.61,14.08,24,26.77,35.39,39.59q7.9,8.88,15.79,17.78,8.87,10,17.76,20l3.59,4c3.07,3.46,6.2,7,9.49,10.6V217a3.5,3.5,0,0,1,3.5-3.5h14a3.5,3.5,0,0,1,3.5,3.5V341.33a3.5,3.5,0,0,1-3.5,3.5h-2.79c-2.82,0-5.25,0-8.13,0a4.62,4.62,0,0,1-3.56-2l-.11-.14Q757.94,325.34,742.48,308q-7-7.82-14-15.64L716.44,278.8q-8-9-16.08-18L689.5,248.69V342A3.5,3.5,0,0,1,686,345.5Zm-10.5-7h7V239.95a3.5,3.5,0,0,1,5.65-2.76,20.75,20.75,0,0,1,3.51,3.39l.48.56q6.7,7.51,13.44,15,8.06,9,16.1,18l12.07,13.53q7,7.83,14,15.65,15.36,17.25,30.75,34.49c2.06,0,4,0,6,0V220.5h-7v97.1a3.5,3.5,0,0,1-6,2.41c-5.69-6-10.78-11.72-15.7-17.27l-3.58-4q-8.89-10-17.77-20-7.89-8.89-15.78-17.77c-11.4-12.81-22.77-25.5-35.38-39.57L683,221l-.18-.21c-2.38-.08-5-.07-7.3-.06Zm101.72-.71h0Z" transform="translate(-18.11 73.89)"/><path class="cls-2" d="M229,345.5H215a3.5,3.5,0,0,1-3.5-3.5V217.27a3.5,3.5,0,0,1,3.5-3.5h3.74c3,0,5.43,0,8.4.09,2,.09,3.55,1.48,4.76,2.83l11.74,13.08c7.8,8.68,15.86,17.66,23.74,26.51q9,10.12,18.08,20.27,7.83,8.76,15.63,17.51c4.44,5,8.87,9.85,13.42,14.73V217a3.5,3.5,0,0,1,3.5-3.5h14a3.5,3.5,0,0,1,3.5,3.5V341.33a3.5,3.5,0,0,1-3.5,3.5h-2.18c-2.73,0-6.13,0-9.08,0a5.73,5.73,0,0,1-4-2.13l-4.67-5.23Q298.91,322.71,285.78,308q-6.76-7.59-13.57-15.19-6.26-7-12.51-14-7.68-8.61-15.45-17.22Q238.36,255,232.5,248.5V342A3.5,3.5,0,0,1,229,345.5Zm-10.5-7h7V239.95a3.5,3.5,0,0,1,5.65-2.76,25.79,25.79,0,0,1,3.95,3.71l.21.23q7,7.88,14.15,15.77,7.76,8.62,15.47,17.25,6.23,7,12.5,14,6.81,7.6,13.59,15.2,13.11,14.72,26.27,29.45l4.5,5c2.2,0,4.6,0,6.73,0V220.5h-7v97.1a3.5,3.5,0,0,1-6,2.41c-6.76-7.12-13.18-14.08-19.61-21.3q-7.78-8.74-15.62-17.5-9.06-10.14-18.09-20.28c-7.87-8.84-15.92-17.81-23.72-26.49l-11.74-13.09c-.22-.25-.39-.42-.5-.53-2.52-.09-4.7-.08-7.41-.06h-.28Zm102.38-.71h0ZM225.93,220.61h0Z" transform="translate(-18.11 73.89)"/><path class="cls-2" d="M58,343.5H43a3.5,3.5,0,0,1-3.5-3.5V217a3.5,3.5,0,0,1,3.5-3.5H63.14c18.83,0,41.15,0,63.93.21a45,45,0,0,1,12.5,2.11h0c9.37,2.83,15.12,10.06,15.77,19.82.66,9.94.7,20,.74,29.79q0,3.8,0,7.6a19.46,19.46,0,0,1-.9,5.31c-.14.52-.29,1-.41,1.57-2.56,11.2-11.28,18-23.32,18.32-16.38.37-33,.47-49.11.57q-9.78.06-19.57.14H61.5V340A3.5,3.5,0,0,1,58,343.5Zm-11.5-7h8V295.44a3.5,3.5,0,0,1,3.5-3.5h4.76q9.8-.08,19.59-.14c16.06-.1,32.67-.2,49-.57,5.15-.12,14.15-1.95,16.65-12.88.14-.61.31-1.23.48-1.85a13.91,13.91,0,0,0,.66-3.41q0-3.81,0-7.63c0-9.65-.08-19.64-.72-29.36-.46-6.89-4.19-11.58-10.81-13.59A38,38,0,0,0,127,220.71c-22.76-.18-45.06-.21-63.88-.21H46.5Zm37-49.61H58a3.5,3.5,0,0,1-3.5-3.5V230c0-.93.36-3.15,3.75-3.67a13.39,13.39,0,0,1,1.82-.16H75.91c15.6,0,31.73,0,47.61.14,11.73.1,17.2,5.24,17.74,16.67a262.94,262.94,0,0,1-.63,29.82c-.56,8.33-6.11,13.45-14.84,13.69-8,.22-15.91.35-24.33.38C95.55,286.89,89.51,286.89,83.48,286.89Zm-22-7h9c10.22,0,20.79,0,31,0,8.36,0,16.26-.16,24.16-.38,5.11-.14,7.74-2.48,8.05-7.16h0a256.62,256.62,0,0,0,.62-29c-.37-7.68-2.79-9.93-10.81-10-15.86-.14-32-.14-47.55-.14H61.5Z" transform="translate(-18.11 73.89)"/><path class="cls-2" d="M374,343.5H358a3.5,3.5,0,0,1-3.5-3.5V217a3.5,3.5,0,0,1,3.5-3.5h20.76c18.83,0,41.15,0,63.93.21a45,45,0,0,1,12.5,2.11h0c9.38,2.84,15.13,10.06,15.78,19.82.66,10,.71,20.18.75,30q0,3.69,0,7.39a19.94,19.94,0,0,1-.9,5.35c-.14.51-.27,1-.39,1.52-2.56,11.2-11.26,18-23.27,18.32-16.39.37-33,.47-49.05.57q-9.76.06-19.53.14H377.5V340A3.5,3.5,0,0,1,374,343.5Zm-12.5-7h9V295.44a3.5,3.5,0,0,1,3.5-3.5h4.57q9.78-.08,19.55-.14c16-.1,32.61-.2,48.94-.57,5.13-.12,14.1-1.95,16.6-12.88.14-.59.29-1.18.45-1.77a14.35,14.35,0,0,0,.66-3.49q0-3.71,0-7.41c0-9.72-.08-19.78-.73-29.58-.46-6.89-4.2-11.58-10.82-13.59a38,38,0,0,0-10.53-1.81c-22.76-.18-45.06-.21-63.88-.21H361.5Zm37.86-49.61H374a3.5,3.5,0,0,1-3.5-3.5V230c0-.91.35-3.1,3.59-3.66a11.27,11.27,0,0,1,1.79-.17H391.7c15.56,0,31.65,0,47.53.14,11.69.1,17.15,5.24,17.7,16.67a262.42,262.42,0,0,1-.68,29.82h0c-.56,8.33-6.11,13.45-14.84,13.69-8,.22-15.87.35-24.14.38C411.36,286.89,405.34,286.89,399.36,286.89Zm-21.86-7h8.94c10.14,0,20.62,0,30.8,0,8.21,0,16-.16,24-.38,5.11-.14,7.74-2.48,8.05-7.16h0a256.11,256.11,0,0,0,.67-29c-.37-7.68-2.78-9.93-10.77-10-15.86-.14-31.93-.14-47.47-.14H377.5Z" transform="translate(-18.11 73.89)"/><path class="cls-2" d="M868,343.5H853a3.5,3.5,0,0,1-3.5-3.5V234.5H805a3.5,3.5,0,0,1-3.5-3.5V217a3.5,3.5,0,0,1,3.5-3.5H916a3.5,3.5,0,0,1,3.5,3.5v13a3.5,3.5,0,0,1-3.5,3.5H871.5V340A3.5,3.5,0,0,1,868,343.5Zm-11.5-7h8V230a3.5,3.5,0,0,1,3.5-3.5h44.5v-6h-104v7H853a3.5,3.5,0,0,1,3.5,3.5Z" transform="translate(-18.11 73.89)"/><path class="cls-2" d="M187,343.5H173a3.5,3.5,0,0,1-3.5-3.5V217a3.5,3.5,0,0,1,3.5-3.5h14a3.5,3.5,0,0,1,3.5,3.5V340A3.5,3.5,0,0,1,187,343.5Zm-10.5-7h7v-116h-7Z" transform="translate(-18.11 73.89)"/><path class="cls-2" d="M644,345.5H630a3.5,3.5,0,0,1-3.5-3.5V217a3.5,3.5,0,0,1,3.5-3.5h14a3.5,3.5,0,0,1,3.5,3.5V342A3.5,3.5,0,0,1,644,345.5Zm-10.5-7h7v-118h-7Z" transform="translate(-18.11 73.89)"/><path class="cls-2" d="M500,258.5H486a3.5,3.5,0,0,1-3.5-3.5V220a3.5,3.5,0,0,1,3.5-3.5h33a3.5,3.5,0,0,1,3.5,3.5v14a3.5,3.5,0,0,1-3.5,3.5H503.5V255A3.5,3.5,0,0,1,500,258.5Zm-10.5-7h7V234a3.5,3.5,0,0,1,3.5-3.5h15.5v-7h-26Z" transform="translate(-18.11 73.89)"/><path class="cls-2" d="M605,258.5H591a3.5,3.5,0,0,1-3.5-3.5V237.5H571a3.5,3.5,0,0,1-3.5-3.5V220a3.5,3.5,0,0,1,3.5-3.5h34a3.5,3.5,0,0,1,3.5,3.5v35A3.5,3.5,0,0,1,605,258.5Zm-10.5-7h7v-28h-27v7H591a3.5,3.5,0,0,1,3.5,3.5Z" transform="translate(-18.11 73.89)"/><path class="cls-2" d="M519,342.5H486a3.5,3.5,0,0,1-3.5-3.5V305a3.5,3.5,0,0,1,3.5-3.5h14a3.5,3.5,0,0,1,3.5,3.5v16.5H519a3.5,3.5,0,0,1,3.5,3.5v14A3.5,3.5,0,0,1,519,342.5Zm-29.5-7h26v-7H500a3.5,3.5,0,0,1-3.5-3.5V308.5h-7Z" transform="translate(-18.11 73.89)"/><path class="cls-2" d="M605,342.5H571a3.5,3.5,0,0,1-3.5-3.5V325a3.5,3.5,0,0,1,3.5-3.5h16.5V305a3.5,3.5,0,0,1,3.5-3.5h14a3.5,3.5,0,0,1,3.5,3.5v34A3.5,3.5,0,0,1,605,342.5Zm-30.5-7h27v-27h-7V325a3.5,3.5,0,0,1-3.5,3.5H574.5Z" transform="translate(-18.11 73.89)"/><path class="cls-2" d="M545.36,297a17.51,17.51,0,1,1,17.51-17.51A17.53,17.53,0,0,1,545.36,297Zm0-28a10.51,10.51,0,1,0,10.51,10.51A10.52,10.52,0,0,0,545.36,269Z" transform="translate(-18.11 73.89)"/></svg>

        </section>
    </div>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    </article>
</template>
<script>
    export default {
        mounted() {
            let StarWars = (function () {
                /* 
                 * Constructor
                 */
                function StarWars(args) {
                    // Context wrapper
                    this.el = $(args.el);


                    // The animation wrapper
                    this.animation = this.el.find('.animation');

                    // Remove animation and shows the start screen
                    this.el.append(this.animation);
                }
                return StarWars;
            })();

            new StarWars({
                el: '.starwars'
            });
        }
    }
</script>
<style lang="css">
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
#back {
    position: fixed;
    right: 6%;
    top: 10%;
    font-size: 40px;
    color: #414141;
}
.starwars {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15em;
  color: #ff6;
  background: #000;
  overflow: hidden;
  margin: 0;
}

.starwars section {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1;
}
.starwars .start {
  font-size: 200%;
  width: 14em;
  margin: -4em 0 0 -7em;
  text-align: center;
  cursor: pointer;
}
.starwars .start span {
  color: #4bd5ee;
}
.starwars .intro {
  width: 15em;
  margin: 0 0 0 -7.5em;
  font-size: 200%;
  font-weight: 400;
  color: #4bd5ee;
  opacity: 0;
  -webkit-animation: intro 6s ease-out 1s;
          animation: intro 6s ease-out 1s;
}
.starwars .logo {
  opacity: 0;
  -webkit-animation: logo 9s ease-out 9s;
          animation: logo 9s ease-out 9s;
}
.starwars .logo svg {
  width: inherit;
}
.starwars .titles {
  width: 14.65em;
  margin: 0 0 0 -7.325em;
  top: auto;
  bottom: 0;
  height: 50em;
  font-size: 350%;
  text-align: justify;
  overflow: hidden;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: perspective(300px) rotateX(25deg);
  transform: perspective(300px) rotateX(25deg);
}
.starwars .titles > div {
  position: absolute;
  top: 100%;
  -webkit-animation: titles 81s linear 13s;
          animation: titles 81s linear 13s;
}
.starwars .titles > div > p {
  margin: 1.35em 0 1.85em 0;
  line-height: 1.35em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@-webkit-keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes logo {
  0% {
    width: 18em;
    margin: -9em 0 0 -9em;
    -webkit-transform: scale(2.75);
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
  100% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
}
@keyframes logo {
  0% {
    width: 18em;
    margin: -9em 0 0 -9em;
    -webkit-transform: scale(2.75);
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
  100% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
}
@-webkit-keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 20%;
    opacity: 0;
  }
}
@keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 20%;
    opacity: 0;
  }
}
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 1753px 127px #354c68 , 419px 905px #354c68 , 362px 1287px #354c68 , 1851px 1095px #354c68 , 1315px 596px #354c68 , 95px 876px #354c68 , 740px 1624px #354c68 , 935px 60px #354c68 , 830px 919px #354c68 , 166px 1932px #354c68 , 1036px 1847px #354c68 , 1721px 800px #354c68 , 1281px 95px #354c68 , 10px 1192px #354c68 , 1067px 188px #354c68 , 1823px 1230px #354c68 , 921px 226px #354c68 , 586px 420px #354c68 , 76px 655px #354c68 , 1421px 931px #354c68 , 252px 1787px #354c68 , 517px 666px #354c68 , 1698px 1245px #354c68 , 1344px 848px #354c68 , 1038px 1485px #354c68 , 1263px 1407px #354c68 , 1901px 968px #354c68 , 1490px 1079px #354c68 , 481px 1725px #354c68 , 841px 1472px #354c68 , 1686px 1008px #354c68 , 1537px 339px #354c68 , 619px 219px #354c68 , 1172px 534px #354c68 , 1873px 86px #354c68 , 791px 1647px #354c68 , 575px 801px #354c68 , 641px 899px #354c68 , 1605px 1238px #354c68 , 731px 737px #354c68 , 1870px 746px #354c68 , 157px 252px #354c68 , 1290px 340px #354c68 , 1870px 811px #354c68 , 1981px 554px #354c68 , 211px 207px #354c68 , 1371px 1623px #354c68 , 1994px 1755px #354c68 , 1026px 595px #354c68 , 1007px 1426px #354c68 , 1907px 105px #354c68 , 1140px 1085px #354c68 , 1292px 708px #354c68 , 424px 1140px #354c68 , 1288px 1867px #354c68 , 1895px 1141px #354c68 , 831px 1931px #354c68 , 380px 1815px #354c68 , 139px 1511px #354c68 , 71px 954px #354c68 , 1285px 1408px #354c68 , 1786px 1271px #354c68 , 140px 537px #354c68 , 684px 11px #354c68 , 1198px 643px #354c68 , 598px 777px #354c68 , 1651px 1487px #354c68 , 1616px 348px #354c68 , 466px 1090px #354c68 , 712px 1131px #354c68 , 1436px 1439px #354c68 , 149px 1829px #354c68 , 1111px 1096px #354c68 , 387px 329px #354c68 , 1891px 1308px #354c68 , 209px 29px #354c68 , 733px 1635px #354c68 , 1761px 340px #354c68 , 35px 334px #354c68 , 428px 391px #354c68 , 1397px 1065px #354c68 , 1039px 719px #354c68 , 1624px 959px #354c68 , 830px 216px #354c68 , 1655px 316px #354c68 , 15px 1285px #354c68 , 888px 1385px #354c68 , 709px 1085px #354c68 , 1402px 881px #354c68 , 242px 607px #354c68 , 490px 1763px #354c68 , 1261px 337px #354c68 , 1572px 1909px #354c68 , 858px 1433px #354c68 , 223px 1134px #354c68 , 1245px 489px #354c68 , 54px 682px #354c68 , 307px 1284px #354c68 , 1740px 1326px #354c68 , 1436px 1825px #354c68 , 1771px 1930px #354c68 , 274px 750px #354c68 , 718px 1867px #354c68 , 905px 498px #354c68 , 23px 525px #354c68 , 1340px 1550px #354c68 , 1134px 1401px #354c68 , 534px 1349px #354c68 , 376px 1457px #354c68 , 1434px 5px #354c68 , 1648px 1403px #354c68 , 91px 728px #354c68 , 495px 99px #354c68 , 84px 1253px #354c68 , 423px 1713px #354c68 , 1462px 1518px #354c68 , 209px 1381px #354c68 , 1624px 1356px #354c68 , 576px 1720px #354c68 , 8px 469px #354c68 , 1398px 893px #354c68 , 1878px 782px #354c68 , 257px 963px #354c68 , 1081px 362px #354c68 , 1879px 1058px #354c68 , 1080px 1684px #354c68 , 1833px 518px #354c68 , 218px 1501px #354c68 , 731px 648px #354c68 , 729px 1618px #354c68 , 340px 158px #354c68 , 1579px 1029px #354c68 , 1547px 1961px #354c68 , 1932px 640px #354c68 , 1154px 214px #354c68 , 1121px 1715px #354c68 , 1516px 1167px #354c68 , 1300px 1028px #354c68 , 699px 1461px #354c68 , 1463px 1641px #354c68 , 1573px 263px #354c68 , 945px 1968px #354c68 , 1483px 1191px #354c68 , 173px 109px #354c68 , 1224px 1959px #354c68 , 1029px 117px #354c68 , 1584px 721px #354c68 , 1774px 83px #354c68 , 1762px 91px #354c68 , 207px 1746px #354c68 , 1255px 1100px #354c68 , 481px 1462px #354c68 , 640px 1845px #354c68 , 812px 1279px #354c68 , 1631px 1381px #354c68 , 249px 404px #354c68 , 1403px 1582px #354c68 , 630px 191px #354c68 , 301px 1622px #354c68 , 1657px 521px #354c68 , 356px 1853px #354c68 , 1720px 1829px #354c68 , 1402px 847px #354c68 , 418px 1315px #354c68 , 1247px 894px #354c68 , 1303px 862px #354c68 , 1471px 1261px #354c68 , 785px 1077px #354c68 , 452px 16px #354c68 , 1930px 1638px #354c68 , 1808px 1167px #354c68 , 687px 742px #354c68 , 248px 149px #354c68 , 78px 280px #354c68 , 1348px 1364px #354c68 , 1305px 1954px #354c68 , 1823px 699px #354c68 , 840px 456px #354c68 , 1877px 284px #354c68 , 689px 1645px #354c68 , 1698px 994px #354c68 , 1219px 863px #354c68 , 251px 1532px #354c68 , 52px 63px #354c68 , 90px 1859px #354c68 , 1071px 280px #354c68 , 749px 253px #354c68 , 914px 712px #354c68 , 945px 1133px #354c68 , 854px 560px #354c68 , 632px 514px #354c68 , 119px 1505px #354c68 , 1880px 1527px #354c68 , 721px 271px #354c68 , 1165px 953px #354c68 , 1474px 979px #354c68 , 1112px 328px #354c68 , 1762px 642px #354c68 , 1005px 1823px #354c68 , 475px 830px #354c68 , 85px 212px #354c68 , 1229px 133px #354c68 , 922px 1489px #354c68 , 1509px 1814px #354c68 , 1838px 1343px #354c68 , 237px 1202px #354c68 , 517px 65px #354c68 , 302px 1449px #354c68 , 167px 1496px #354c68 , 752px 237px #354c68 , 1889px 1251px #354c68 , 1110px 549px #354c68 , 231px 1343px #354c68 , 603px 509px #354c68 , 1251px 853px #354c68 , 833px 879px #354c68 , 1352px 441px #354c68 , 1138px 1612px #354c68 , 780px 854px #354c68 , 1902px 187px #354c68 , 1036px 1084px #354c68 , 1695px 1825px #354c68 , 576px 1726px #354c68 , 11px 378px #354c68 , 970px 376px #354c68 , 374px 1823px #354c68 , 379px 531px #354c68 , 1599px 955px #354c68 , 815px 1391px #354c68 , 1505px 812px #354c68 , 1297px 1624px #354c68 , 854px 116px #354c68 , 963px 220px #354c68 , 1239px 651px #354c68 , 1849px 1757px #354c68 , 183px 1346px #354c68 , 263px 1403px #354c68 , 1890px 1404px #354c68 , 737px 1364px #354c68 , 1435px 1127px #354c68 , 693px 203px #354c68 , 336px 455px #354c68 , 543px 80px #354c68 , 1063px 64px #354c68 , 1930px 1409px #354c68 , 1108px 999px #354c68 , 1339px 1979px #354c68 , 516px 1119px #354c68 , 862px 1284px #354c68 , 810px 121px #354c68 , 1706px 1244px #354c68 , 713px 682px #354c68 , 1236px 1567px #354c68 , 1719px 1518px #354c68 , 346px 593px #354c68 , 147px 1104px #354c68 , 819px 1954px #354c68 , 30px 452px #354c68 , 1582px 1479px #354c68 , 1103px 1915px #354c68 , 1473px 887px #354c68 , 1808px 398px #354c68 , 431px 436px #354c68 , 290px 1646px #354c68 , 454px 539px #354c68 , 934px 893px #354c68 , 1125px 534px #354c68 , 842px 1841px #354c68 , 1220px 1032px #354c68 , 1172px 144px #354c68 , 1027px 375px #354c68 , 1981px 1602px #354c68 , 816px 1249px #354c68 , 1941px 1871px #354c68 , 124px 38px #354c68 , 901px 664px #354c68 , 856px 790px #354c68 , 958px 339px #354c68 , 1243px 1853px #354c68 , 1788px 1895px #354c68 , 1643px 1104px #354c68 , 306px 553px #354c68 , 1653px 1750px #354c68 , 554px 447px #354c68 , 1376px 108px #354c68 , 870px 1114px #354c68 , 1441px 1118px #354c68 , 590px 51px #354c68 , 1147px 118px #354c68 , 911px 1207px #354c68 , 582px 1443px #354c68 , 370px 271px #354c68 , 98px 1928px #354c68 , 1145px 191px #354c68 , 1766px 1874px #354c68 , 52px 58px #354c68 , 1359px 611px #354c68 , 484px 1587px #354c68 , 1680px 1461px #354c68 , 1589px 1758px #354c68 , 120px 493px #354c68 , 637px 865px #354c68 , 1285px 971px #354c68 , 1088px 1814px #354c68 , 1132px 510px #354c68 , 545px 1444px #354c68 , 1280px 1107px #354c68 , 1264px 1479px #354c68 , 77px 1933px #354c68 , 214px 728px #354c68 , 489px 1534px #354c68 , 1958px 1147px #354c68 , 1180px 1467px #354c68 , 360px 1236px #354c68 , 1443px 1281px #354c68 , 1333px 318px #354c68 , 691px 682px #354c68 , 902px 537px #354c68 , 1020px 139px #354c68 , 213px 237px #354c68 , 39px 1557px #354c68 , 747px 303px #354c68 , 984px 1660px #354c68 , 1656px 614px #354c68 , 834px 688px #354c68 , 1190px 517px #354c68 , 1908px 799px #354c68 , 1116px 1340px #354c68 , 809px 952px #354c68 , 666px 429px #354c68 , 1732px 1767px #354c68 , 235px 809px #354c68 , 848px 850px #354c68 , 1101px 76px #354c68 , 100px 1166px #354c68 , 681px 790px #354c68 , 1921px 979px #354c68 , 818px 1313px #354c68 , 920px 1153px #354c68 , 630px 213px #354c68 , 699px 1923px #354c68 , 51px 573px #354c68 , 1753px 859px #354c68 , 706px 1710px #354c68 , 1143px 1781px #354c68 , 1736px 1404px #354c68 , 332px 506px #354c68 , 1521px 575px #354c68 , 1622px 773px #354c68 , 746px 133px #354c68 , 1371px 1249px #354c68 , 1995px 309px #354c68 , 1088px 1861px #354c68 , 1282px 1995px #354c68 , 1001px 1726px #354c68 , 747px 488px #354c68 , 1707px 1859px #354c68 , 90px 391px #354c68 , 129px 1055px #354c68 , 835px 1597px #354c68 , 1357px 912px #354c68 , 1325px 767px #354c68 , 1394px 426px #354c68 , 152px 1549px #354c68 , 874px 1513px #354c68 , 1458px 1333px #354c68 , 1671px 793px #354c68 , 1349px 1036px #354c68 , 249px 1776px #354c68 , 1710px 1119px #354c68 , 103px 1820px #354c68 , 1864px 1948px #354c68 , 1818px 454px #354c68 , 1252px 975px #354c68 , 1250px 1309px #354c68 , 1523px 485px #354c68 , 1883px 334px #354c68 , 1937px 1839px #354c68 , 454px 633px #354c68 , 764px 1570px #354c68 , 1303px 517px #354c68 , 637px 1853px #354c68 , 540px 631px #354c68 , 930px 550px #354c68 , 1822px 1379px #354c68 , 1264px 1185px #354c68 , 1009px 166px #354c68 , 1166px 49px #354c68 , 1904px 1967px #354c68 , 1924px 362px #354c68 , 675px 1582px #354c68 , 1457px 1796px #354c68 , 1120px 1402px #354c68 , 1862px 76px #354c68 , 1112px 1635px #354c68 , 466px 826px #354c68 , 1077px 179px #354c68 , 1053px 1236px #354c68 , 826px 1434px #354c68 , 412px 725px #354c68 , 1358px 586px #354c68 , 1479px 34px #354c68 , 514px 266px #354c68 , 1600px 1459px #354c68 , 609px 1536px #354c68 , 1517px 1298px #354c68 , 1859px 1164px #354c68 , 1512px 397px #354c68 , 228px 1976px #354c68 , 1527px 489px #354c68 , 1766px 1100px #354c68 , 551px 576px #354c68 , 1819px 760px #354c68 , 1957px 971px #354c68 , 1131px 24px #354c68 , 176px 30px #354c68 , 1618px 1598px #354c68 , 1254px 744px #354c68 , 1978px 1256px #354c68 , 714px 1910px #354c68 , 551px 1667px #354c68 , 1258px 662px #354c68 , 696px 1882px #354c68 , 747px 475px #354c68 , 848px 1688px #354c68 , 1154px 407px #354c68 , 1470px 1513px #354c68 , 1280px 739px #354c68 , 298px 1608px #354c68 , 1825px 1641px #354c68 , 528px 1542px #354c68 , 1085px 319px #354c68 , 417px 125px #354c68 , 989px 61px #354c68 , 586px 1997px #354c68 , 272px 277px #354c68 , 1022px 1518px #354c68 , 128px 869px #354c68 , 723px 1909px #354c68 , 1463px 1860px #354c68 , 945px 679px #354c68 , 638px 1529px #354c68 , 804px 897px #354c68 , 136px 1753px #354c68 , 1671px 1138px #354c68 , 1729px 284px #354c68 , 143px 194px #354c68 , 1645px 1374px #354c68 , 1726px 1488px #354c68 , 1466px 1409px #354c68 , 1800px 1791px #354c68 , 26px 1962px #354c68 , 1286px 253px #354c68 , 947px 149px #354c68 , 1107px 735px #354c68 , 1551px 1846px #354c68 , 801px 1467px #354c68 , 716px 915px #354c68 , 1270px 1317px #354c68 , 1064px 554px #354c68 , 63px 535px #354c68 , 649px 1094px #354c68 , 1729px 1386px #354c68 , 1386px 395px #354c68 , 1318px 841px #354c68 , 969px 799px #354c68 , 1993px 988px #354c68 , 1373px 971px #354c68 , 969px 247px #354c68 , 882px 1334px #354c68 , 1193px 458px #354c68 , 1524px 1807px #354c68 , 702px 565px #354c68 , 1000px 298px #354c68 , 1613px 82px #354c68 , 1187px 1582px #354c68 , 440px 368px #354c68 , 1746px 690px #354c68 , 1813px 638px #354c68 , 1561px 889px #354c68 , 820px 1812px #354c68 , 1958px 179px #354c68 , 1751px 1511px #354c68 , 1724px 1604px #354c68 , 893px 162px #354c68 , 1012px 185px #354c68 , 1253px 1606px #354c68 , 1143px 527px #354c68 , 124px 778px #354c68 , 186px 1995px #354c68 , 1044px 1092px #354c68 , 627px 511px #354c68 , 1180px 1064px #354c68 , 461px 1740px #354c68 , 67px 656px #354c68 , 1113px 245px #354c68 , 1019px 1547px #354c68 , 305px 393px #354c68 , 939px 738px #354c68 , 845px 926px #354c68 , 10px 266px #354c68 , 567px 1586px #354c68 , 1942px 1222px #354c68 , 1180px 1809px #354c68 , 203px 363px #354c68 , 1858px 1591px #354c68 , 1550px 436px #354c68 , 1035px 723px #354c68 , 1994px 1699px #354c68 , 1517px 1194px #354c68 , 1984px 624px #354c68 , 143px 904px #354c68 , 1366px 1675px #354c68 , 1434px 1076px #354c68 , 115px 1114px #354c68 , 249px 85px #354c68 , 162px 350px #354c68 , 1959px 194px #354c68 , 1141px 1615px #354c68 , 603px 56px #354c68 , 370px 398px #354c68 , 110px 1181px #354c68 , 152px 986px #354c68 , 1492px 634px #354c68 , 1228px 698px #354c68 , 718px 1568px #354c68 , 1300px 1290px #354c68 , 590px 1490px #354c68 , 1498px 332px #354c68 , 1966px 1727px #354c68 , 1348px 1561px #354c68 , 655px 1761px #354c68 , 1887px 593px #354c68 , 1056px 1051px #354c68 , 1129px 681px #354c68 , 728px 205px #354c68 , 116px 1593px #354c68 , 1052px 466px #354c68 , 797px 1692px #354c68 , 650px 330px #354c68 , 694px 1198px #354c68 , 47px 388px #354c68 , 597px 1843px #354c68 , 1562px 1485px #354c68 , 6px 880px #354c68 , 720px 1665px #354c68 , 259px 1910px #354c68 , 1362px 1184px #354c68 , 470px 457px #354c68 , 1924px 1577px #354c68 , 1491px 905px #354c68 , 735px 1412px #354c68 , 329px 1620px #354c68 , 1940px 1906px #354c68 , 124px 126px #354c68 , 399px 1300px #354c68 , 648px 1282px #354c68 , 319px 1809px #354c68 , 858px 381px #354c68 , 1866px 1770px #354c68 , 1932px 1090px #354c68 , 1646px 217px #354c68 , 514px 210px #354c68 , 273px 1837px #354c68 , 1780px 885px #354c68 , 1767px 953px #354c68 , 1374px 1158px #354c68 , 572px 1785px #354c68 , 1953px 1359px #354c68 , 1523px 791px #354c68 , 1035px 920px #354c68 , 1974px 1242px #354c68 , 653px 648px #354c68 , 847px 556px #354c68 , 924px 793px #354c68 , 1456px 1559px #354c68 , 1758px 202px #354c68 , 1341px 973px #354c68 , 323px 510px #354c68 , 1451px 1420px #354c68 , 942px 1837px #354c68 , 858px 1324px #354c68 , 965px 1278px #354c68 , 1717px 616px #354c68 , 1110px 1706px #354c68 , 1155px 1608px #354c68 , 1473px 1886px #354c68 , 1163px 844px #354c68 , 990px 1952px #354c68 , 83px 1697px #354c68 , 1971px 19px #354c68 , 1524px 1500px #354c68 , 1965px 194px #354c68 , 1649px 919px #354c68 , 341px 249px #354c68 , 1621px 437px #354c68 , 812px 215px #354c68 , 421px 1838px #354c68 , 1860px 85px #354c68 , 281px 674px #354c68 , 93px 677px #354c68 , 764px 1395px #354c68 , 84px 1068px #354c68 , 1710px 1443px #354c68 , 1500px 1260px #354c68 , 1709px 445px #354c68 , 153px 1629px #354c68 , 1203px 1569px #354c68 , 391px 98px #354c68 , 1873px 641px #354c68 , 1888px 1387px #354c68 , 259px 1415px #354c68 , 88px 1276px #354c68 , 1444px 1061px #354c68 , 1517px 1466px #354c68 , 616px 361px #354c68 , 1393px 1368px #354c68 , 1611px 641px #354c68 , 1916px 83px #354c68 , 1891px 488px #354c68 , 334px 358px #354c68 , 938px 185px #354c68 , 440px 1546px #354c68 , 1810px 985px #354c68 , 1082px 1321px #354c68 , 1342px 710px #354c68 , 946px 443px #354c68 , 235px 555px #354c68 , 599px 1602px #354c68 , 659px 583px #354c68 , 1108px 1040px #354c68 , 672px 37px #354c68 , 277px 886px #354c68 , 1663px 1595px #354c68 , 933px 1524px #354c68 , 757px 377px #354c68 , 855px 1574px #354c68 , 1558px 928px #354c68 , 1851px 1991px #354c68 , 1881px 242px #354c68 , 1152px 439px #354c68 , 308px 1653px #354c68 , 1646px 1304px #354c68 , 1124px 540px #354c68 , 466px 1979px #354c68 , 1269px 371px #354c68 , 1455px 465px #354c68 , 1415px 1323px #354c68 , 99px 1113px #354c68 , 855px 124px #354c68 , 36px 687px #354c68 , 538px 332px #354c68 , 1358px 1791px #354c68 , 686px 899px #354c68 , 1653px 346px #354c68 , 695px 1277px #354c68 , 10px 1374px #354c68 , 1676px 354px #354c68 , 1895px 591px #354c68 , 1285px 1024px #354c68 , 617px 541px #354c68 , 356px 954px #354c68 , 851px 177px #354c68 , 564px 997px #354c68 , 1499px 1838px #354c68 , 1019px 256px #354c68 , 663px 938px #354c68 , 510px 101px #354c68 , 912px 609px #354c68 , 1526px 1646px #354c68 , 1288px 1530px #354c68 , 806px 455px #354c68 , 465px 1502px #354c68 , 999px 1396px #354c68 , 1106px 889px #354c68 , 1128px 906px #354c68 , 34px 1495px #354c68 , 827px 425px #354c68 , 488px 1884px #354c68 , 1263px 922px #354c68 , 235px 520px #354c68 , 1443px 160px #354c68 , 26px 1743px #354c68 , 1676px 907px #354c68 , 1297px 584px #354c68 , 233px 803px #354c68 , 127px 411px #354c68 , 223px 353px #354c68 , 1628px 136px #354c68 , 1125px 401px #354c68 , 920px 438px #354c68 , 605px 1188px #354c68 , 144px 177px #354c68 , 1252px 1354px #354c68 , 1736px 459px #354c68 , 1318px 595px #354c68 , 1289px 910px #354c68 , 1142px 1375px #354c68 , 758px 1782px #354c68 , 1173px 1341px #354c68;
  -webkit-animation: animStar 150s linear infinite;
          animation: animStar 150s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1753px 127px #354c68 , 419px 905px #354c68 , 362px 1287px #354c68 , 1851px 1095px #354c68 , 1315px 596px #354c68 , 95px 876px #354c68 , 740px 1624px #354c68 , 935px 60px #354c68 , 830px 919px #354c68 , 166px 1932px #354c68 , 1036px 1847px #354c68 , 1721px 800px #354c68 , 1281px 95px #354c68 , 10px 1192px #354c68 , 1067px 188px #354c68 , 1823px 1230px #354c68 , 921px 226px #354c68 , 586px 420px #354c68 , 76px 655px #354c68 , 1421px 931px #354c68 , 252px 1787px #354c68 , 517px 666px #354c68 , 1698px 1245px #354c68 , 1344px 848px #354c68 , 1038px 1485px #354c68 , 1263px 1407px #354c68 , 1901px 968px #354c68 , 1490px 1079px #354c68 , 481px 1725px #354c68 , 841px 1472px #354c68 , 1686px 1008px #354c68 , 1537px 339px #354c68 , 619px 219px #354c68 , 1172px 534px #354c68 , 1873px 86px #354c68 , 791px 1647px #354c68 , 575px 801px #354c68 , 641px 899px #354c68 , 1605px 1238px #354c68 , 731px 737px #354c68 , 1870px 746px #354c68 , 157px 252px #354c68 , 1290px 340px #354c68 , 1870px 811px #354c68 , 1981px 554px #354c68 , 211px 207px #354c68 , 1371px 1623px #354c68 , 1994px 1755px #354c68 , 1026px 595px #354c68 , 1007px 1426px #354c68 , 1907px 105px #354c68 , 1140px 1085px #354c68 , 1292px 708px #354c68 , 424px 1140px #354c68 , 1288px 1867px #354c68 , 1895px 1141px #354c68 , 831px 1931px #354c68 , 380px 1815px #354c68 , 139px 1511px #354c68 , 71px 954px #354c68 , 1285px 1408px #354c68 , 1786px 1271px #354c68 , 140px 537px #354c68 , 684px 11px #354c68 , 1198px 643px #354c68 , 598px 777px #354c68 , 1651px 1487px #354c68 , 1616px 348px #354c68 , 466px 1090px #354c68 , 712px 1131px #354c68 , 1436px 1439px #354c68 , 149px 1829px #354c68 , 1111px 1096px #354c68 , 387px 329px #354c68 , 1891px 1308px #354c68 , 209px 29px #354c68 , 733px 1635px #354c68 , 1761px 340px #354c68 , 35px 334px #354c68 , 428px 391px #354c68 , 1397px 1065px #354c68 , 1039px 719px #354c68 , 1624px 959px #354c68 , 830px 216px #354c68 , 1655px 316px #354c68 , 15px 1285px #354c68 , 888px 1385px #354c68 , 709px 1085px #354c68 , 1402px 881px #354c68 , 242px 607px #354c68 , 490px 1763px #354c68 , 1261px 337px #354c68 , 1572px 1909px #354c68 , 858px 1433px #354c68 , 223px 1134px #354c68 , 1245px 489px #354c68 , 54px 682px #354c68 , 307px 1284px #354c68 , 1740px 1326px #354c68 , 1436px 1825px #354c68 , 1771px 1930px #354c68 , 274px 750px #354c68 , 718px 1867px #354c68 , 905px 498px #354c68 , 23px 525px #354c68 , 1340px 1550px #354c68 , 1134px 1401px #354c68 , 534px 1349px #354c68 , 376px 1457px #354c68 , 1434px 5px #354c68 , 1648px 1403px #354c68 , 91px 728px #354c68 , 495px 99px #354c68 , 84px 1253px #354c68 , 423px 1713px #354c68 , 1462px 1518px #354c68 , 209px 1381px #354c68 , 1624px 1356px #354c68 , 576px 1720px #354c68 , 8px 469px #354c68 , 1398px 893px #354c68 , 1878px 782px #354c68 , 257px 963px #354c68 , 1081px 362px #354c68 , 1879px 1058px #354c68 , 1080px 1684px #354c68 , 1833px 518px #354c68 , 218px 1501px #354c68 , 731px 648px #354c68 , 729px 1618px #354c68 , 340px 158px #354c68 , 1579px 1029px #354c68 , 1547px 1961px #354c68 , 1932px 640px #354c68 , 1154px 214px #354c68 , 1121px 1715px #354c68 , 1516px 1167px #354c68 , 1300px 1028px #354c68 , 699px 1461px #354c68 , 1463px 1641px #354c68 , 1573px 263px #354c68 , 945px 1968px #354c68 , 1483px 1191px #354c68 , 173px 109px #354c68 , 1224px 1959px #354c68 , 1029px 117px #354c68 , 1584px 721px #354c68 , 1774px 83px #354c68 , 1762px 91px #354c68 , 207px 1746px #354c68 , 1255px 1100px #354c68 , 481px 1462px #354c68 , 640px 1845px #354c68 , 812px 1279px #354c68 , 1631px 1381px #354c68 , 249px 404px #354c68 , 1403px 1582px #354c68 , 630px 191px #354c68 , 301px 1622px #354c68 , 1657px 521px #354c68 , 356px 1853px #354c68 , 1720px 1829px #354c68 , 1402px 847px #354c68 , 418px 1315px #354c68 , 1247px 894px #354c68 , 1303px 862px #354c68 , 1471px 1261px #354c68 , 785px 1077px #354c68 , 452px 16px #354c68 , 1930px 1638px #354c68 , 1808px 1167px #354c68 , 687px 742px #354c68 , 248px 149px #354c68 , 78px 280px #354c68 , 1348px 1364px #354c68 , 1305px 1954px #354c68 , 1823px 699px #354c68 , 840px 456px #354c68 , 1877px 284px #354c68 , 689px 1645px #354c68 , 1698px 994px #354c68 , 1219px 863px #354c68 , 251px 1532px #354c68 , 52px 63px #354c68 , 90px 1859px #354c68 , 1071px 280px #354c68 , 749px 253px #354c68 , 914px 712px #354c68 , 945px 1133px #354c68 , 854px 560px #354c68 , 632px 514px #354c68 , 119px 1505px #354c68 , 1880px 1527px #354c68 , 721px 271px #354c68 , 1165px 953px #354c68 , 1474px 979px #354c68 , 1112px 328px #354c68 , 1762px 642px #354c68 , 1005px 1823px #354c68 , 475px 830px #354c68 , 85px 212px #354c68 , 1229px 133px #354c68 , 922px 1489px #354c68 , 1509px 1814px #354c68 , 1838px 1343px #354c68 , 237px 1202px #354c68 , 517px 65px #354c68 , 302px 1449px #354c68 , 167px 1496px #354c68 , 752px 237px #354c68 , 1889px 1251px #354c68 , 1110px 549px #354c68 , 231px 1343px #354c68 , 603px 509px #354c68 , 1251px 853px #354c68 , 833px 879px #354c68 , 1352px 441px #354c68 , 1138px 1612px #354c68 , 780px 854px #354c68 , 1902px 187px #354c68 , 1036px 1084px #354c68 , 1695px 1825px #354c68 , 576px 1726px #354c68 , 11px 378px #354c68 , 970px 376px #354c68 , 374px 1823px #354c68 , 379px 531px #354c68 , 1599px 955px #354c68 , 815px 1391px #354c68 , 1505px 812px #354c68 , 1297px 1624px #354c68 , 854px 116px #354c68 , 963px 220px #354c68 , 1239px 651px #354c68 , 1849px 1757px #354c68 , 183px 1346px #354c68 , 263px 1403px #354c68 , 1890px 1404px #354c68 , 737px 1364px #354c68 , 1435px 1127px #354c68 , 693px 203px #354c68 , 336px 455px #354c68 , 543px 80px #354c68 , 1063px 64px #354c68 , 1930px 1409px #354c68 , 1108px 999px #354c68 , 1339px 1979px #354c68 , 516px 1119px #354c68 , 862px 1284px #354c68 , 810px 121px #354c68 , 1706px 1244px #354c68 , 713px 682px #354c68 , 1236px 1567px #354c68 , 1719px 1518px #354c68 , 346px 593px #354c68 , 147px 1104px #354c68 , 819px 1954px #354c68 , 30px 452px #354c68 , 1582px 1479px #354c68 , 1103px 1915px #354c68 , 1473px 887px #354c68 , 1808px 398px #354c68 , 431px 436px #354c68 , 290px 1646px #354c68 , 454px 539px #354c68 , 934px 893px #354c68 , 1125px 534px #354c68 , 842px 1841px #354c68 , 1220px 1032px #354c68 , 1172px 144px #354c68 , 1027px 375px #354c68 , 1981px 1602px #354c68 , 816px 1249px #354c68 , 1941px 1871px #354c68 , 124px 38px #354c68 , 901px 664px #354c68 , 856px 790px #354c68 , 958px 339px #354c68 , 1243px 1853px #354c68 , 1788px 1895px #354c68 , 1643px 1104px #354c68 , 306px 553px #354c68 , 1653px 1750px #354c68 , 554px 447px #354c68 , 1376px 108px #354c68 , 870px 1114px #354c68 , 1441px 1118px #354c68 , 590px 51px #354c68 , 1147px 118px #354c68 , 911px 1207px #354c68 , 582px 1443px #354c68 , 370px 271px #354c68 , 98px 1928px #354c68 , 1145px 191px #354c68 , 1766px 1874px #354c68 , 52px 58px #354c68 , 1359px 611px #354c68 , 484px 1587px #354c68 , 1680px 1461px #354c68 , 1589px 1758px #354c68 , 120px 493px #354c68 , 637px 865px #354c68 , 1285px 971px #354c68 , 1088px 1814px #354c68 , 1132px 510px #354c68 , 545px 1444px #354c68 , 1280px 1107px #354c68 , 1264px 1479px #354c68 , 77px 1933px #354c68 , 214px 728px #354c68 , 489px 1534px #354c68 , 1958px 1147px #354c68 , 1180px 1467px #354c68 , 360px 1236px #354c68 , 1443px 1281px #354c68 , 1333px 318px #354c68 , 691px 682px #354c68 , 902px 537px #354c68 , 1020px 139px #354c68 , 213px 237px #354c68 , 39px 1557px #354c68 , 747px 303px #354c68 , 984px 1660px #354c68 , 1656px 614px #354c68 , 834px 688px #354c68 , 1190px 517px #354c68 , 1908px 799px #354c68 , 1116px 1340px #354c68 , 809px 952px #354c68 , 666px 429px #354c68 , 1732px 1767px #354c68 , 235px 809px #354c68 , 848px 850px #354c68 , 1101px 76px #354c68 , 100px 1166px #354c68 , 681px 790px #354c68 , 1921px 979px #354c68 , 818px 1313px #354c68 , 920px 1153px #354c68 , 630px 213px #354c68 , 699px 1923px #354c68 , 51px 573px #354c68 , 1753px 859px #354c68 , 706px 1710px #354c68 , 1143px 1781px #354c68 , 1736px 1404px #354c68 , 332px 506px #354c68 , 1521px 575px #354c68 , 1622px 773px #354c68 , 746px 133px #354c68 , 1371px 1249px #354c68 , 1995px 309px #354c68 , 1088px 1861px #354c68 , 1282px 1995px #354c68 , 1001px 1726px #354c68 , 747px 488px #354c68 , 1707px 1859px #354c68 , 90px 391px #354c68 , 129px 1055px #354c68 , 835px 1597px #354c68 , 1357px 912px #354c68 , 1325px 767px #354c68 , 1394px 426px #354c68 , 152px 1549px #354c68 , 874px 1513px #354c68 , 1458px 1333px #354c68 , 1671px 793px #354c68 , 1349px 1036px #354c68 , 249px 1776px #354c68 , 1710px 1119px #354c68 , 103px 1820px #354c68 , 1864px 1948px #354c68 , 1818px 454px #354c68 , 1252px 975px #354c68 , 1250px 1309px #354c68 , 1523px 485px #354c68 , 1883px 334px #354c68 , 1937px 1839px #354c68 , 454px 633px #354c68 , 764px 1570px #354c68 , 1303px 517px #354c68 , 637px 1853px #354c68 , 540px 631px #354c68 , 930px 550px #354c68 , 1822px 1379px #354c68 , 1264px 1185px #354c68 , 1009px 166px #354c68 , 1166px 49px #354c68 , 1904px 1967px #354c68 , 1924px 362px #354c68 , 675px 1582px #354c68 , 1457px 1796px #354c68 , 1120px 1402px #354c68 , 1862px 76px #354c68 , 1112px 1635px #354c68 , 466px 826px #354c68 , 1077px 179px #354c68 , 1053px 1236px #354c68 , 826px 1434px #354c68 , 412px 725px #354c68 , 1358px 586px #354c68 , 1479px 34px #354c68 , 514px 266px #354c68 , 1600px 1459px #354c68 , 609px 1536px #354c68 , 1517px 1298px #354c68 , 1859px 1164px #354c68 , 1512px 397px #354c68 , 228px 1976px #354c68 , 1527px 489px #354c68 , 1766px 1100px #354c68 , 551px 576px #354c68 , 1819px 760px #354c68 , 1957px 971px #354c68 , 1131px 24px #354c68 , 176px 30px #354c68 , 1618px 1598px #354c68 , 1254px 744px #354c68 , 1978px 1256px #354c68 , 714px 1910px #354c68 , 551px 1667px #354c68 , 1258px 662px #354c68 , 696px 1882px #354c68 , 747px 475px #354c68 , 848px 1688px #354c68 , 1154px 407px #354c68 , 1470px 1513px #354c68 , 1280px 739px #354c68 , 298px 1608px #354c68 , 1825px 1641px #354c68 , 528px 1542px #354c68 , 1085px 319px #354c68 , 417px 125px #354c68 , 989px 61px #354c68 , 586px 1997px #354c68 , 272px 277px #354c68 , 1022px 1518px #354c68 , 128px 869px #354c68 , 723px 1909px #354c68 , 1463px 1860px #354c68 , 945px 679px #354c68 , 638px 1529px #354c68 , 804px 897px #354c68 , 136px 1753px #354c68 , 1671px 1138px #354c68 , 1729px 284px #354c68 , 143px 194px #354c68 , 1645px 1374px #354c68 , 1726px 1488px #354c68 , 1466px 1409px #354c68 , 1800px 1791px #354c68 , 26px 1962px #354c68 , 1286px 253px #354c68 , 947px 149px #354c68 , 1107px 735px #354c68 , 1551px 1846px #354c68 , 801px 1467px #354c68 , 716px 915px #354c68 , 1270px 1317px #354c68 , 1064px 554px #354c68 , 63px 535px #354c68 , 649px 1094px #354c68 , 1729px 1386px #354c68 , 1386px 395px #354c68 , 1318px 841px #354c68 , 969px 799px #354c68 , 1993px 988px #354c68 , 1373px 971px #354c68 , 969px 247px #354c68 , 882px 1334px #354c68 , 1193px 458px #354c68 , 1524px 1807px #354c68 , 702px 565px #354c68 , 1000px 298px #354c68 , 1613px 82px #354c68 , 1187px 1582px #354c68 , 440px 368px #354c68 , 1746px 690px #354c68 , 1813px 638px #354c68 , 1561px 889px #354c68 , 820px 1812px #354c68 , 1958px 179px #354c68 , 1751px 1511px #354c68 , 1724px 1604px #354c68 , 893px 162px #354c68 , 1012px 185px #354c68 , 1253px 1606px #354c68 , 1143px 527px #354c68 , 124px 778px #354c68 , 186px 1995px #354c68 , 1044px 1092px #354c68 , 627px 511px #354c68 , 1180px 1064px #354c68 , 461px 1740px #354c68 , 67px 656px #354c68 , 1113px 245px #354c68 , 1019px 1547px #354c68 , 305px 393px #354c68 , 939px 738px #354c68 , 845px 926px #354c68 , 10px 266px #354c68 , 567px 1586px #354c68 , 1942px 1222px #354c68 , 1180px 1809px #354c68 , 203px 363px #354c68 , 1858px 1591px #354c68 , 1550px 436px #354c68 , 1035px 723px #354c68 , 1994px 1699px #354c68 , 1517px 1194px #354c68 , 1984px 624px #354c68 , 143px 904px #354c68 , 1366px 1675px #354c68 , 1434px 1076px #354c68 , 115px 1114px #354c68 , 249px 85px #354c68 , 162px 350px #354c68 , 1959px 194px #354c68 , 1141px 1615px #354c68 , 603px 56px #354c68 , 370px 398px #354c68 , 110px 1181px #354c68 , 152px 986px #354c68 , 1492px 634px #354c68 , 1228px 698px #354c68 , 718px 1568px #354c68 , 1300px 1290px #354c68 , 590px 1490px #354c68 , 1498px 332px #354c68 , 1966px 1727px #354c68 , 1348px 1561px #354c68 , 655px 1761px #354c68 , 1887px 593px #354c68 , 1056px 1051px #354c68 , 1129px 681px #354c68 , 728px 205px #354c68 , 116px 1593px #354c68 , 1052px 466px #354c68 , 797px 1692px #354c68 , 650px 330px #354c68 , 694px 1198px #354c68 , 47px 388px #354c68 , 597px 1843px #354c68 , 1562px 1485px #354c68 , 6px 880px #354c68 , 720px 1665px #354c68 , 259px 1910px #354c68 , 1362px 1184px #354c68 , 470px 457px #354c68 , 1924px 1577px #354c68 , 1491px 905px #354c68 , 735px 1412px #354c68 , 329px 1620px #354c68 , 1940px 1906px #354c68 , 124px 126px #354c68 , 399px 1300px #354c68 , 648px 1282px #354c68 , 319px 1809px #354c68 , 858px 381px #354c68 , 1866px 1770px #354c68 , 1932px 1090px #354c68 , 1646px 217px #354c68 , 514px 210px #354c68 , 273px 1837px #354c68 , 1780px 885px #354c68 , 1767px 953px #354c68 , 1374px 1158px #354c68 , 572px 1785px #354c68 , 1953px 1359px #354c68 , 1523px 791px #354c68 , 1035px 920px #354c68 , 1974px 1242px #354c68 , 653px 648px #354c68 , 847px 556px #354c68 , 924px 793px #354c68 , 1456px 1559px #354c68 , 1758px 202px #354c68 , 1341px 973px #354c68 , 323px 510px #354c68 , 1451px 1420px #354c68 , 942px 1837px #354c68 , 858px 1324px #354c68 , 965px 1278px #354c68 , 1717px 616px #354c68 , 1110px 1706px #354c68 , 1155px 1608px #354c68 , 1473px 1886px #354c68 , 1163px 844px #354c68 , 990px 1952px #354c68 , 83px 1697px #354c68 , 1971px 19px #354c68 , 1524px 1500px #354c68 , 1965px 194px #354c68 , 1649px 919px #354c68 , 341px 249px #354c68 , 1621px 437px #354c68 , 812px 215px #354c68 , 421px 1838px #354c68 , 1860px 85px #354c68 , 281px 674px #354c68 , 93px 677px #354c68 , 764px 1395px #354c68 , 84px 1068px #354c68 , 1710px 1443px #354c68 , 1500px 1260px #354c68 , 1709px 445px #354c68 , 153px 1629px #354c68 , 1203px 1569px #354c68 , 391px 98px #354c68 , 1873px 641px #354c68 , 1888px 1387px #354c68 , 259px 1415px #354c68 , 88px 1276px #354c68 , 1444px 1061px #354c68 , 1517px 1466px #354c68 , 616px 361px #354c68 , 1393px 1368px #354c68 , 1611px 641px #354c68 , 1916px 83px #354c68 , 1891px 488px #354c68 , 334px 358px #354c68 , 938px 185px #354c68 , 440px 1546px #354c68 , 1810px 985px #354c68 , 1082px 1321px #354c68 , 1342px 710px #354c68 , 946px 443px #354c68 , 235px 555px #354c68 , 599px 1602px #354c68 , 659px 583px #354c68 , 1108px 1040px #354c68 , 672px 37px #354c68 , 277px 886px #354c68 , 1663px 1595px #354c68 , 933px 1524px #354c68 , 757px 377px #354c68 , 855px 1574px #354c68 , 1558px 928px #354c68 , 1851px 1991px #354c68 , 1881px 242px #354c68 , 1152px 439px #354c68 , 308px 1653px #354c68 , 1646px 1304px #354c68 , 1124px 540px #354c68 , 466px 1979px #354c68 , 1269px 371px #354c68 , 1455px 465px #354c68 , 1415px 1323px #354c68 , 99px 1113px #354c68 , 855px 124px #354c68 , 36px 687px #354c68 , 538px 332px #354c68 , 1358px 1791px #354c68 , 686px 899px #354c68 , 1653px 346px #354c68 , 695px 1277px #354c68 , 10px 1374px #354c68 , 1676px 354px #354c68 , 1895px 591px #354c68 , 1285px 1024px #354c68 , 617px 541px #354c68 , 356px 954px #354c68 , 851px 177px #354c68 , 564px 997px #354c68 , 1499px 1838px #354c68 , 1019px 256px #354c68 , 663px 938px #354c68 , 510px 101px #354c68 , 912px 609px #354c68 , 1526px 1646px #354c68 , 1288px 1530px #354c68 , 806px 455px #354c68 , 465px 1502px #354c68 , 999px 1396px #354c68 , 1106px 889px #354c68 , 1128px 906px #354c68 , 34px 1495px #354c68 , 827px 425px #354c68 , 488px 1884px #354c68 , 1263px 922px #354c68 , 235px 520px #354c68 , 1443px 160px #354c68 , 26px 1743px #354c68 , 1676px 907px #354c68 , 1297px 584px #354c68 , 233px 803px #354c68 , 127px 411px #354c68 , 223px 353px #354c68 , 1628px 136px #354c68 , 1125px 401px #354c68 , 920px 438px #354c68 , 605px 1188px #354c68 , 144px 177px #354c68 , 1252px 1354px #354c68 , 1736px 459px #354c68 , 1318px 595px #354c68 , 1289px 910px #354c68 , 1142px 1375px #354c68 , 758px 1782px #354c68 , 1173px 1341px #354c68;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 1754px 760px #354c68 , 932px 943px #354c68 , 921px 1742px #354c68 , 511px 729px #354c68 , 1831px 740px #354c68 , 1217px 1695px #354c68 , 1463px 1208px #354c68 , 1921px 584px #354c68 , 764px 888px #354c68 , 1335px 1629px #354c68 , 1617px 1269px #354c68 , 1817px 1417px #354c68 , 689px 1092px #354c68 , 208px 1388px #354c68 , 88px 1201px #354c68 , 1596px 670px #354c68 , 1385px 1925px #354c68 , 366px 1181px #354c68 , 1925px 777px #354c68 , 641px 926px #354c68 , 893px 723px #354c68 , 1907px 1391px #354c68 , 1083px 1767px #354c68 , 969px 1408px #354c68 , 1431px 74px #354c68 , 1899px 1711px #354c68 , 1124px 1380px #354c68 , 583px 251px #354c68 , 694px 1533px #354c68 , 309px 1472px #354c68 , 494px 999px #354c68 , 1197px 871px #354c68 , 1267px 1187px #354c68 , 270px 1930px #354c68 , 178px 665px #354c68 , 1887px 1610px #354c68 , 1039px 1116px #354c68 , 943px 200px #354c68 , 91px 1867px #354c68 , 237px 1697px #354c68 , 1188px 1581px #354c68 , 1131px 7px #354c68 , 905px 1382px #354c68 , 444px 257px #354c68 , 1649px 888px #354c68 , 1013px 1948px #354c68 , 84px 1236px #354c68 , 1998px 251px #354c68 , 1972px 549px #354c68 , 670px 1916px #354c68 , 1889px 1336px #354c68 , 89px 198px #354c68 , 1139px 11px #354c68 , 1294px 1441px #354c68 , 1969px 1525px #354c68 , 1152px 565px #354c68 , 1831px 1730px #354c68 , 1631px 570px #354c68 , 1301px 803px #354c68 , 1580px 704px #354c68 , 496px 1600px #354c68 , 272px 140px #354c68 , 873px 341px #354c68 , 287px 288px #354c68 , 147px 1748px #354c68 , 113px 952px #354c68 , 410px 1014px #354c68 , 965px 1106px #354c68 , 1141px 1400px #354c68 , 748px 146px #354c68 , 391px 1894px #354c68 , 1281px 895px #354c68 , 1281px 1368px #354c68 , 1084px 617px #354c68 , 1566px 907px #354c68 , 1750px 1232px #354c68 , 237px 422px #354c68 , 1025px 1407px #354c68 , 1572px 1459px #354c68 , 39px 385px #354c68 , 1281px 673px #354c68 , 581px 1997px #354c68 , 954px 1687px #354c68 , 1706px 1056px #354c68 , 513px 631px #354c68 , 512px 771px #354c68 , 124px 1929px #354c68 , 1139px 1106px #354c68 , 1260px 1588px #354c68 , 1572px 1543px #354c68 , 1760px 1363px #354c68 , 491px 1636px #354c68 , 560px 720px #354c68 , 1851px 617px #354c68 , 1094px 406px #354c68 , 1358px 1159px #354c68 , 230px 220px #354c68 , 20px 1955px #354c68 , 154px 1992px #354c68 , 32px 214px #354c68 , 84px 45px #354c68 , 381px 123px #354c68 , 60px 1783px #354c68 , 479px 1906px #354c68 , 1483px 255px #354c68 , 1230px 277px #354c68 , 1990px 706px #354c68 , 494px 708px #354c68 , 365px 1858px #354c68 , 734px 678px #354c68 , 1340px 1372px #354c68 , 360px 600px #354c68 , 1263px 1220px #354c68 , 287px 1180px #354c68 , 1314px 1948px #354c68 , 1634px 1943px #354c68 , 1690px 1912px #354c68 , 1303px 1301px #354c68 , 205px 1982px #354c68 , 1732px 333px #354c68 , 558px 816px #354c68 , 648px 569px #354c68 , 402px 1393px #354c68 , 97px 1133px #354c68 , 1372px 779px #354c68 , 353px 1627px #354c68 , 942px 1138px #354c68 , 1967px 1937px #354c68 , 165px 1716px #354c68 , 188px 1371px #354c68 , 934px 1582px #354c68 , 1189px 1523px #354c68 , 1240px 1105px #354c68 , 1008px 1076px #354c68 , 717px 1018px #354c68 , 1794px 482px #354c68 , 1976px 1210px #354c68 , 1320px 737px #354c68 , 1980px 590px #354c68 , 1046px 875px #354c68 , 1661px 986px #354c68 , 1413px 525px #354c68 , 1761px 617px #354c68 , 1303px 1957px #354c68 , 1352px 1177px #354c68 , 259px 1638px #354c68 , 1674px 447px #354c68 , 1547px 823px #354c68 , 178px 245px #354c68 , 857px 339px #354c68 , 1599px 1514px #354c68 , 611px 826px #354c68 , 1058px 438px #354c68 , 1768px 1575px #354c68 , 1521px 728px #354c68 , 206px 451px #354c68 , 902px 1807px #354c68 , 367px 111px #354c68 , 1923px 242px #354c68 , 1340px 1782px #354c68 , 1778px 121px #354c68 , 1581px 1033px #354c68 , 1600px 1171px #354c68 , 1338px 1305px #354c68 , 1569px 585px #354c68 , 1039px 1770px #354c68 , 51px 606px #354c68 , 1405px 1100px #354c68 , 790px 42px #354c68 , 823px 892px #354c68 , 1525px 172px #354c68 , 153px 1552px #354c68 , 858px 1833px #354c68 , 1023px 192px #354c68 , 46px 1771px #354c68 , 1005px 45px #354c68 , 1519px 1905px #354c68 , 183px 277px #354c68 , 1918px 542px #354c68 , 1341px 1277px #354c68 , 1534px 1214px #354c68 , 1307px 1887px #354c68 , 937px 147px #354c68 , 1097px 1710px #354c68 , 1834px 966px #354c68 , 242px 423px #354c68 , 1831px 1413px #354c68 , 1340px 684px #354c68 , 1903px 721px #354c68 , 1035px 250px #354c68 , 1595px 1834px #354c68 , 1970px 1323px #354c68 , 1234px 1225px #354c68 , 1487px 651px #354c68 , 1849px 1888px #354c68 , 1537px 1528px #354c68 , 1122px 1786px #354c68 , 308px 383px #354c68 , 1487px 725px #354c68 , 1336px 781px #354c68;
  -webkit-animation: animStar 300s linear infinite;
          animation: animStar 300s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 4000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1754px 760px #354c68 , 932px 943px #354c68 , 921px 1742px #354c68 , 511px 729px #354c68 , 1831px 740px #354c68 , 1217px 1695px #354c68 , 1463px 1208px #354c68 , 1921px 584px #354c68 , 764px 888px #354c68 , 1335px 1629px #354c68 , 1617px 1269px #354c68 , 1817px 1417px #354c68 , 689px 1092px #354c68 , 208px 1388px #354c68 , 88px 1201px #354c68 , 1596px 670px #354c68 , 1385px 1925px #354c68 , 366px 1181px #354c68 , 1925px 777px #354c68 , 641px 926px #354c68 , 893px 723px #354c68 , 1907px 1391px #354c68 , 1083px 1767px #354c68 , 969px 1408px #354c68 , 1431px 74px #354c68 , 1899px 1711px #354c68 , 1124px 1380px #354c68 , 583px 251px #354c68 , 694px 1533px #354c68 , 309px 1472px #354c68 , 494px 999px #354c68 , 1197px 871px #354c68 , 1267px 1187px #354c68 , 270px 1930px #354c68 , 178px 665px #354c68 , 1887px 1610px #354c68 , 1039px 1116px #354c68 , 943px 200px #354c68 , 91px 1867px #354c68 , 237px 1697px #354c68 , 1188px 1581px #354c68 , 1131px 7px #354c68 , 905px 1382px #354c68 , 444px 257px #354c68 , 1649px 888px #354c68 , 1013px 1948px #354c68 , 84px 1236px #354c68 , 1998px 251px #354c68 , 1972px 549px #354c68 , 670px 1916px #354c68 , 1889px 1336px #354c68 , 89px 198px #354c68 , 1139px 11px #354c68 , 1294px 1441px #354c68 , 1969px 1525px #354c68 , 1152px 565px #354c68 , 1831px 1730px #354c68 , 1631px 570px #354c68 , 1301px 803px #354c68 , 1580px 704px #354c68 , 496px 1600px #354c68 , 272px 140px #354c68 , 873px 341px #354c68 , 287px 288px #354c68 , 147px 1748px #354c68 , 113px 952px #354c68 , 410px 1014px #354c68 , 965px 1106px #354c68 , 1141px 1400px #354c68 , 748px 146px #354c68 , 391px 1894px #354c68 , 1281px 895px #354c68 , 1281px 1368px #354c68 , 1084px 617px #354c68 , 1566px 907px #354c68 , 1750px 1232px #354c68 , 237px 422px #354c68 , 1025px 1407px #354c68 , 1572px 1459px #354c68 , 39px 385px #354c68 , 1281px 673px #354c68 , 581px 1997px #354c68 , 954px 1687px #354c68 , 1706px 1056px #354c68 , 513px 631px #354c68 , 512px 771px #354c68 , 124px 1929px #354c68 , 1139px 1106px #354c68 , 1260px 1588px #354c68 , 1572px 1543px #354c68 , 1760px 1363px #354c68 , 491px 1636px #354c68 , 560px 720px #354c68 , 1851px 617px #354c68 , 1094px 406px #354c68 , 1358px 1159px #354c68 , 230px 220px #354c68 , 20px 1955px #354c68 , 154px 1992px #354c68 , 32px 214px #354c68 , 84px 45px #354c68 , 381px 123px #354c68 , 60px 1783px #354c68 , 479px 1906px #354c68 , 1483px 255px #354c68 , 1230px 277px #354c68 , 1990px 706px #354c68 , 494px 708px #354c68 , 365px 1858px #354c68 , 734px 678px #354c68 , 1340px 1372px #354c68 , 360px 600px #354c68 , 1263px 1220px #354c68 , 287px 1180px #354c68 , 1314px 1948px #354c68 , 1634px 1943px #354c68 , 1690px 1912px #354c68 , 1303px 1301px #354c68 , 205px 1982px #354c68 , 1732px 333px #354c68 , 558px 816px #354c68 , 648px 569px #354c68 , 402px 1393px #354c68 , 97px 1133px #354c68 , 1372px 779px #354c68 , 353px 1627px #354c68 , 942px 1138px #354c68 , 1967px 1937px #354c68 , 165px 1716px #354c68 , 188px 1371px #354c68 , 934px 1582px #354c68 , 1189px 1523px #354c68 , 1240px 1105px #354c68 , 1008px 1076px #354c68 , 717px 1018px #354c68 , 1794px 482px #354c68 , 1976px 1210px #354c68 , 1320px 737px #354c68 , 1980px 590px #354c68 , 1046px 875px #354c68 , 1661px 986px #354c68 , 1413px 525px #354c68 , 1761px 617px #354c68 , 1303px 1957px #354c68 , 1352px 1177px #354c68 , 259px 1638px #354c68 , 1674px 447px #354c68 , 1547px 823px #354c68 , 178px 245px #354c68 , 857px 339px #354c68 , 1599px 1514px #354c68 , 611px 826px #354c68 , 1058px 438px #354c68 , 1768px 1575px #354c68 , 1521px 728px #354c68 , 206px 451px #354c68 , 902px 1807px #354c68 , 367px 111px #354c68 , 1923px 242px #354c68 , 1340px 1782px #354c68 , 1778px 121px #354c68 , 1581px 1033px #354c68 , 1600px 1171px #354c68 , 1338px 1305px #354c68 , 1569px 585px #354c68 , 1039px 1770px #354c68 , 51px 606px #354c68 , 1405px 1100px #354c68 , 790px 42px #354c68 , 823px 892px #354c68 , 1525px 172px #354c68 , 153px 1552px #354c68 , 858px 1833px #354c68 , 1023px 192px #354c68 , 46px 1771px #354c68 , 1005px 45px #354c68 , 1519px 1905px #354c68 , 183px 277px #354c68 , 1918px 542px #354c68 , 1341px 1277px #354c68 , 1534px 1214px #354c68 , 1307px 1887px #354c68 , 937px 147px #354c68 , 1097px 1710px #354c68 , 1834px 966px #354c68 , 242px 423px #354c68 , 1831px 1413px #354c68 , 1340px 684px #354c68 , 1903px 721px #354c68 , 1035px 250px #354c68 , 1595px 1834px #354c68 , 1970px 1323px #354c68 , 1234px 1225px #354c68 , 1487px 651px #354c68 , 1849px 1888px #354c68 , 1537px 1528px #354c68 , 1122px 1786px #354c68 , 308px 383px #354c68 , 1487px 725px #354c68 , 1336px 781px #354c68;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 1196px 373px #354c68 , 654px 1641px #354c68 , 1964px 756px #354c68 , 811px 1072px #354c68 , 259px 1735px #354c68 , 895px 23px #354c68 , 1122px 8px #354c68 , 111px 277px #354c68 , 1120px 1323px #354c68 , 1783px 551px #354c68 , 1639px 1001px #354c68 , 560px 143px #354c68 , 1452px 679px #354c68 , 1415px 1440px #354c68 , 1097px 1315px #354c68 , 1866px 967px #354c68 , 406px 1142px #354c68 , 161px 1539px #354c68 , 1173px 16px #354c68 , 1697px 173px #354c68 , 1487px 354px #354c68 , 1916px 1702px #354c68 , 1457px 323px #354c68 , 550px 1866px #354c68 , 1274px 484px #354c68 , 1952px 572px #354c68 , 166px 1825px #354c68 , 1539px 1614px #354c68 , 1874px 1450px #354c68 , 1674px 1563px #354c68 , 1833px 863px #354c68 , 440px 879px #354c68 , 1653px 1325px #354c68 , 505px 1077px #354c68 , 1384px 689px #354c68 , 1769px 1365px #354c68 , 370px 1377px #354c68 , 317px 258px #354c68 , 1019px 965px #354c68 , 404px 482px #354c68 , 105px 479px #354c68 , 1655px 343px #354c68 , 144px 850px #354c68 , 990px 586px #354c68 , 1251px 967px #354c68 , 1369px 278px #354c68 , 1533px 1194px #354c68 , 595px 77px #354c68 , 267px 1088px #354c68 , 237px 1416px #354c68 , 37px 1692px #354c68 , 1301px 1370px #354c68 , 571px 249px #354c68 , 1256px 1904px #354c68 , 10px 682px #354c68 , 1800px 385px #354c68 , 1640px 1308px #354c68 , 1388px 953px #354c68 , 1889px 97px #354c68 , 1158px 1727px #354c68 , 895px 1021px #354c68 , 202px 23px #354c68 , 636px 1123px #354c68 , 760px 397px #354c68 , 345px 310px #354c68 , 365px 1633px #354c68 , 748px 57px #354c68 , 715px 99px #354c68 , 312px 1936px #354c68 , 1953px 1568px #354c68 , 32px 371px #354c68 , 1705px 874px #354c68 , 1537px 921px #354c68 , 473px 548px #354c68 , 1084px 1210px #354c68 , 288px 1875px #354c68 , 1784px 583px #354c68 , 1584px 1109px #354c68 , 1357px 727px #354c68 , 1405px 551px #354c68 , 669px 1337px #354c68 , 499px 1768px #354c68 , 1703px 1008px #354c68 , 816px 361px #354c68 , 1460px 1488px #354c68 , 1011px 1953px #354c68 , 423px 810px #354c68 , 835px 872px #354c68 , 1748px 1364px #354c68 , 754px 1706px #354c68 , 824px 1281px #354c68 , 1029px 37px #354c68 , 48px 1483px #354c68 , 1853px 549px #354c68 , 1898px 1626px #354c68 , 75px 1495px #354c68 , 494px 450px #354c68 , 601px 158px #354c68 , 1441px 1658px #354c68 , 1310px 1015px #354c68;
  -webkit-animation: animStar 450s linear infinite;
          animation: animStar 450s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 6000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1196px 373px #354c68 , 654px 1641px #354c68 , 1964px 756px #354c68 , 811px 1072px #354c68 , 259px 1735px #354c68 , 895px 23px #354c68 , 1122px 8px #354c68 , 111px 277px #354c68 , 1120px 1323px #354c68 , 1783px 551px #354c68 , 1639px 1001px #354c68 , 560px 143px #354c68 , 1452px 679px #354c68 , 1415px 1440px #354c68 , 1097px 1315px #354c68 , 1866px 967px #354c68 , 406px 1142px #354c68 , 161px 1539px #354c68 , 1173px 16px #354c68 , 1697px 173px #354c68 , 1487px 354px #354c68 , 1916px 1702px #354c68 , 1457px 323px #354c68 , 550px 1866px #354c68 , 1274px 484px #354c68 , 1952px 572px #354c68 , 166px 1825px #354c68 , 1539px 1614px #354c68 , 1874px 1450px #354c68 , 1674px 1563px #354c68 , 1833px 863px #354c68 , 440px 879px #354c68 , 1653px 1325px #354c68 , 505px 1077px #354c68 , 1384px 689px #354c68 , 1769px 1365px #354c68 , 370px 1377px #354c68 , 317px 258px #354c68 , 1019px 965px #354c68 , 404px 482px #354c68 , 105px 479px #354c68 , 1655px 343px #354c68 , 144px 850px #354c68 , 990px 586px #354c68 , 1251px 967px #354c68 , 1369px 278px #354c68 , 1533px 1194px #354c68 , 595px 77px #354c68 , 267px 1088px #354c68 , 237px 1416px #354c68 , 37px 1692px #354c68 , 1301px 1370px #354c68 , 571px 249px #354c68 , 1256px 1904px #354c68 , 10px 682px #354c68 , 1800px 385px #354c68 , 1640px 1308px #354c68 , 1388px 953px #354c68 , 1889px 97px #354c68 , 1158px 1727px #354c68 , 895px 1021px #354c68 , 202px 23px #354c68 , 636px 1123px #354c68 , 760px 397px #354c68 , 345px 310px #354c68 , 365px 1633px #354c68 , 748px 57px #354c68 , 715px 99px #354c68 , 312px 1936px #354c68 , 1953px 1568px #354c68 , 32px 371px #354c68 , 1705px 874px #354c68 , 1537px 921px #354c68 , 473px 548px #354c68 , 1084px 1210px #354c68 , 288px 1875px #354c68 , 1784px 583px #354c68 , 1584px 1109px #354c68 , 1357px 727px #354c68 , 1405px 551px #354c68 , 669px 1337px #354c68 , 499px 1768px #354c68 , 1703px 1008px #354c68 , 816px 361px #354c68 , 1460px 1488px #354c68 , 1011px 1953px #354c68 , 423px 810px #354c68 , 835px 872px #354c68 , 1748px 1364px #354c68 , 754px 1706px #354c68 , 824px 1281px #354c68 , 1029px 37px #354c68 , 48px 1483px #354c68 , 1853px 549px #354c68 , 1898px 1626px #354c68 , 75px 1495px #354c68 , 494px 450px #354c68 , 601px 158px #354c68 , 1441px 1658px #354c68 , 1310px 1015px #354c68;
}

@-webkit-keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
}

.cls-1{fill:none;}.cls-2{fill:#ffe81f;}
    
</style>